{
  "openapi": "3.0.0",
  "info": {
    "version": "4.0",
    "title": "Keyword Analysis API",
    "description": "### Current version: 4\n\nhttps://api.serpstat.com/v4 — Endpoint URL, through which all requests should be processed.\n\n### API protocol\n\n- Our API protocol is [**JSON-RPC 2.0**](https://www.jsonrpc.org/specification).\n\n### Requests\n\n- All requests should be sent via **POST** method.\n- All request parameters must be set via POST request body in **JSON** format.\n- Each request should contain a `method` name parameter corresponding to the API method (case-sensitive).\n\n### Authentication\n\n- Tokens are used for authentication. Create a token on [your profile page](https://serpstat.com/users/profile/). \n- `token` is required for all API requests.\n- Api token is available for almost paid and trial plans that have API feature enabled.\n\n### Pagination\n\nFor pagination, use the parameters:\n- `size`: number of results per page (default 100, maximum 1000);\n- `page`: page number (default is 1st page).\n\nPlease note: not all methods are supporting pagination.\n\n\n### Filters\n\nFilters can be applied to each method, most of them are specific for the method you used.\n`filters` object are optional for most methods.\n\n### Responses\n\n- All responses are in **JSON** format.\n- All responses have 200 HTTP status, even erroneous ones. In case of error, the response contains an `error` object instead of `result`.\n\n\n### API credits (limits)\n\nWhen calculating the used credits, your pricing plan's API requests are taken into account, including identical requests and requests for export.\n\n### Request rates\n\nMost subscription plans are limited to 1 request per second.\nTop-tier plans allow up to 10 requests per second.\nFor higher rate limits, contact our sales team.\nExceeding your rate limit will result in an error response.\n\n### Max results\n\nThe maximum number of results returned by each API method is limited up to 60,000 rows.\n",
    "termsOfService": "https://serpstat.com/users/license-agreement/",
    "contact": {
      "url": "https://serpstat.com",
      "email": "support@serpstat.com",
      "name": "Support"
    },
    "license": {
      "url": "https://creativecommons.org/licenses/by/4.0/",
      "name": "CC BY 4.0"
    }
  },
  "servers": [
    {
      "url": "https://api.serpstat.com/v4",
      "description": "Default server"
    }
  ],
  "paths": {
    "/#SerpstatKeywordProcedure.getKeywordsInfo": {
      "post": {
        "tags": [
          "Keyword Analysis"
        ],
        "summary": "getKeywordsInfo",
        "description": "The `SerpstatKeywordProcedure.getKeywordsInfo` method provides you with the keyword overview showing its volume, CPC, level of competition, etc.\n\n<!-- theme: success -->\n> **Credits**: the number of charged credits corresponds to the number of results obtained upon request. You can get no more than 1000 results per a query.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n",
        "operationId": "post-#SerpstatKeywordProcedure.getKeywordsInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `SerpstatKeywordProcedure.getKeywordsInfo`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "keywords": {
                        "type": "array",
                        "description": "Array with keywords to search for",
                        "items": {
                          "type": "string"
                        }
                      },
                      "se": {
                        "$ref": "#/components/schemas/se"
                      },
                      "withIntents": {
                        "type": "boolean",
                        "description": "Keyword intent\nThis parameter works for g_ua and g_us database only"
                      },
                      "sort": {
                        "type": "object",
                        "description": "Order of sorting the results in the format: `field: order`\n\n- **field** — field to sort by (any numeric fields, except `suggestions_count` and `keywords_count` in *data* section of response)\n- **order** — sort direction (`asc` — ascending, `desc` — descending)\n\nExample `{\"region_queries_count\": \"desc\"}`"
                      },
                      "filters": {
                        "type": "object",
                        "description": "Filters for search. Fields are combined using the AND logic. Numeric range fields (`_from` and `_to`) allow specifying minimum and maximum values. List fields (`_contain` and `_not_contain`) specify inclusion or exclusion criteria.",
                        "additionalProperties": false,
                        "properties": {
                          "cost": {
                            "type": "number",
                            "description": "Exact cost value."
                          },
                          "cost_to": {
                            "type": "number",
                            "description": "Maximum cost value."
                          },
                          "cost_from": {
                            "type": "number",
                            "description": "Minimum cost value."
                          },
                          "concurrency": {
                            "type": "integer",
                            "description": "Exact concurrency value."
                          },
                          "concurrency_to": {
                            "type": "integer",
                            "description": "Maximum concurrency value."
                          },
                          "concurrency_from": {
                            "type": "integer",
                            "description": "Minimum concurrency value."
                          },
                          "found_results": {
                            "type": "integer",
                            "description": "Exact number of found results."
                          },
                          "found_results_to": {
                            "type": "integer",
                            "description": "Maximum number of found results."
                          },
                          "found_results_from": {
                            "type": "integer",
                            "description": "Minimum number of found results."
                          },
                          "region_queries_count": {
                            "type": "integer",
                            "description": "Exact count of region queries."
                          },
                          "region_queries_count_to": {
                            "type": "integer",
                            "description": "Maximum count of region queries."
                          },
                          "region_queries_count_from": {
                            "type": "integer",
                            "description": "Minimum count of region queries."
                          },
                          "region_queries_count_wide": {
                            "type": "integer",
                            "description": "Exact count of wide region queries."
                          },
                          "region_queries_count_wide_to": {
                            "type": "integer",
                            "description": "Maximum count of wide region queries."
                          },
                          "region_queries_count_wide_from": {
                            "type": "integer",
                            "description": "Minimum count of wide region queries."
                          },
                          "intents_contain": {
                            "type": "array",
                            "description": "List of intents that should be included.",
                            "items": {
                              "type": "string",
                              "enum": [
                                "informational",
                                "navigational",
                                "commercial",
                                "transactional"
                              ]
                            }
                          },
                          "intents_not_contain": {
                            "type": "array",
                            "description": "List of intents that should be excluded.",
                            "items": {
                              "type": "string",
                              "enum": [
                                "informational",
                                "navigational",
                                "commercial",
                                "transactional"
                              ]
                            }
                          },
                          "right_spelling": {
                            "type": "boolean",
                            "description": "Indicates whether the spelling is correct."
                          },
                          "minus_keywords": {
                            "type": "array",
                            "description": "List of keywords to exclude from the search.",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "example": {
                          "cost_from": 1,
                          "concurrency_from": 1,
                          "found_results_from": 300,
                          "minus_keywords": [
                            "case",
                            "red"
                          ]
                        }
                      }
                    },
                    "required": [
                      "keywords",
                      "se"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "SerpstatKeywordProcedure.getKeywordsInfo",
                    "params": {
                      "keywords": [
                        "iphone",
                        "iphone 11"
                      ],
                      "se": "g_us",
                      "withIntents": true,
                      "sort": {
                        "found_results": "asc"
                      },
                      "filters": {
                        "found_results_from": 100
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "138",
                    "method": "SerpstatKeywordProcedure.getKeywordsInfo",
                    "params": {
                      "keywords": [
                        "iphone",
                        "iphone 11"
                      ],
                      "se": "g_us",
                      "withIntents": true,
                      "sort": {
                        "found_results": "asc"
                      },
                      "filters": {
                        "found_results_from": 100
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "keyword": {
                                "type": "string",
                                "description": "Keyword"
                              },
                              "cost": {
                                "type": "number",
                                "description": "Cost per click, $"
                              },
                              "concurrency": {
                                "type": "integer",
                                "description": "Keyword competition in PPC (0-100%)"
                              },
                              "found_results": {
                                "type": "integer",
                                "description": "Number of results found for the keyword"
                              },
                              "region_queries_count": {
                                "type": "integer",
                                "description": "Search volume in the selected region"
                              },
                              "region_queries_count_wide": {
                                "type": "integer",
                                "description": "Search volume (broad match)"
                              },
                              "types": {
                                "type": "array",
                                "description": "List of special elements shown in SERP (for example, video, carousel or map)",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "geo_names": {
                                "type": "array",
                                "description": "List of toponyms in the array (if toponyms are present in the keywords)",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "social_domains": {
                                "type": "array",
                                "description": "Social domains listed top-10 by the keyword",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "right_spelling": {
                                "type": "string",
                                "nullable": true,
                                "description": "Recommended correction of a misspelled keyword"
                              },
                              "lang": {
                                "type": "string",
                                "description": "Language"
                              },
                              "difficulty": {
                                "type": "integer",
                                "description": "Competition level for a keyword to advance in organic search in the top-10 positions"
                              },
                              "suggestions_count": {
                                "type": "integer",
                                "description": "Number of search suggestions"
                              },
                              "keywords_count": {
                                "type": "integer",
                                "description": "Number of keywords"
                              },
                              "intents": {
                                "type": "array",
                                "description": "Intents of the analyzed keyword\nThis parameter is returned for g_ua and g_us database only",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "keyword",
                              "cost",
                              "concurrency",
                              "found_results",
                              "region_queries_count",
                              "region_queries_count_wide",
                              "types",
                              "geo_names",
                              "social_domains",
                              "right_spelling",
                              "lang",
                              "difficulty",
                              "suggestions_count",
                              "keywords_count"
                            ]
                          }
                        },
                        "summary_info": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "Page number"
                            },
                            "left_lines": {
                              "type": "integer",
                              "description": "API credits remaining"
                            }
                          },
                          "required": [
                            "page",
                            "left_lines"
                          ]
                        }
                      },
                      "required": [
                        "data",
                        "summary_info"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "result"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "136",
                      "result": {
                        "data": [
                          {
                            "keyword": "iphone 11",
                            "cost": 0.27,
                            "concurrency": 100,
                            "found_results": 6350000000,
                            "region_queries_count": 450000,
                            "region_queries_count_wide": 0,
                            "types": [
                              "also_asks",
                              "kn_graph_card",
                              "related_search"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "youtube",
                              "instagram",
                              "amazon",
                              "wikipedia",
                              "reddit"
                            ],
                            "right_spelling": null,
                            "lang": "en",
                            "difficulty": 39,
                            "suggestions_count": 0,
                            "keywords_count": 21431,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "region_queries_count": 10,
                            "region_queries_count_wide": 1000000,
                            "cost": 0,
                            "concurrency": 100,
                            "keyword": "iphone",
                            "found_results": 8540000000,
                            "types": [
                              "related_search",
                              "shopping_top",
                              "pic"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "amazon",
                              "wikipedia",
                              "youtube",
                              "reddit"
                            ],
                            "right_spelling": null,
                            "difficulty": 76,
                            "lang": "en",
                            "suggestions_count": 0,
                            "keywords_count": 1068805,
                            "intents": [
                              "navigational",
                              "transactional"
                            ]
                          }
                        ],
                        "summary_info": {
                          "page": 1,
                          "left_lines": 999988
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "keyword": "iphone 11",
                            "cost": 0.27,
                            "concurrency": 100,
                            "found_results": 6350000000,
                            "region_queries_count": 450000,
                            "region_queries_count_wide": 0,
                            "types": [
                              "also_asks",
                              "kn_graph_card",
                              "related_search"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "youtube",
                              "instagram",
                              "amazon",
                              "wikipedia",
                              "reddit"
                            ],
                            "right_spelling": null,
                            "lang": "en",
                            "difficulty": 39,
                            "suggestions_count": 0,
                            "keywords_count": 21431,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "region_queries_count": 10,
                            "region_queries_count_wide": 1000000,
                            "cost": 0,
                            "concurrency": 100,
                            "keyword": "iphone",
                            "found_results": 8540000000,
                            "types": [
                              "related_search",
                              "shopping_top",
                              "pic"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "amazon",
                              "wikipedia",
                              "youtube",
                              "reddit"
                            ],
                            "right_spelling": null,
                            "difficulty": 76,
                            "lang": "en",
                            "suggestions_count": 0,
                            "keywords_count": 1068805,
                            "intents": [
                              "navigational",
                              "transactional"
                            ]
                          }
                        ],
                        "summary_info": {
                          "page": 1,
                          "left_lines": 999988
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#SerpstatKeywordProcedure.getKeywords": {
      "post": {
        "tags": [
          "Keyword Analysis"
        ],
        "summary": "getKeywords",
        "description": "The `SerpstatKeywordProcedure.getKeywords` shows organic keywords associated with the researched keyword that domains are ranking for in Google's top-100 results and for every found keyword you'll see its volume, CPC and level of competition. \n\n<!-- theme: success -->\n> **Credits**: **1 credit per row in response.** The number of charged credits corresponds to the number of results obtained upon request.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n<!-- theme: info -->\n> **Note**:  With the Serpstat API, you can only get the first 60,000 results, regardless of the number and size of the queries themselves. For more data - use the export option in the Domain Analysis, Keyword Analysis, or URL Analysis sections, or contact the manager for a сustom data export.",
        "operationId": "post-#SerpstatKeywordProcedure.getKeywords",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Shpuld be exact `SerpstatKeywordProcedure.getKeywords`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "keyword": {
                        "type": "string",
                        "description": "Keyword to search for"
                      },
                      "se": {
                        "$ref": "#/components/schemas/se"
                      },
                      "minusKeywords": {
                        "type": "array",
                        "description": "List of keywords to exclude from the search",
                        "items": {
                          "type": "string"
                        }
                      },
                      "withIntents": {
                        "type": "boolean",
                        "description": "Keyword intent\nIntent parameter works for `g_au` and `g_us` database only"
                      },
                      "sort": {
                        "type": "object",
                        "description": "Order of sorting the results in the format: `field: order`\n\n- **field** — field to sort by (any numeric fields in *data* section of response)\n- **order** — sort direction (`asc` — ascending, `desc` — descending)\n\nExample `{\"region_queries_count\": \"desc\"}`"
                      },
                      "filters": {
                        "type": "object",
                        "description": "Filters for search. Fields are combined using the AND logic. Numeric range fields (_from and _to) allow specifying minimum and maximum values. List fields (_contain and _not_contain) specify inclusion or exclusion criteria",
                        "properties": {
                          "cost": {
                            "type": "number",
                            "description": "Price per click in US$",
                            "minimum": 0,
                            "maximum": 200
                          },
                          "cost_to": {
                            "type": "number",
                            "description": "Price per click to",
                            "minimum": 0,
                            "maximum": 200
                          },
                          "cost_from": {
                            "type": "number",
                            "description": "Price per click from",
                            "minimum": 0,
                            "maximum": 200
                          },
                          "region_queries_count": {
                            "type": "integer",
                            "description": "Keyword volume by the selected region",
                            "minimum": 0,
                            "maximum": 100000000
                          },
                          "region_queries_count_to": {
                            "type": "integer",
                            "description": "Volume to",
                            "minimum": 0,
                            "maximum": 100000000
                          },
                          "region_queries_count_from": {
                            "type": "integer",
                            "description": "Volume from",
                            "minimum": 0,
                            "maximum": 100000000
                          },
                          "keyword_length": {
                            "type": "integer",
                            "description": "Number of words in the keyword"
                          },
                          "keyword_length_from": {
                            "type": "integer",
                            "description": "Number of words from"
                          },
                          "keyword_length_to": {
                            "type": "integer",
                            "description": "Number of words to"
                          },
                          "difficulty": {
                            "type": "integer",
                            "description": "Difficulty of the keyword",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "difficulty_from": {
                            "type": "integer",
                            "description": "Difficulty from",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "difficulty_to": {
                            "type": "integer",
                            "description": "Difficulty to",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "concurrency": {
                            "type": "integer",
                            "description": "Concurrency",
                            "minimum": 1,
                            "maximum": 100
                          },
                          "concurrency_to": {
                            "type": "integer",
                            "description": "Competition to",
                            "minimum": 1,
                            "maximum": 100
                          },
                          "concurrency_from": {
                            "type": "integer",
                            "description": "Competition from",
                            "minimum": 1,
                            "maximum": 100
                          },
                          "right_spelling": {
                            "type": "boolean",
                            "description": "True if contains all; false if does not contain all"
                          },
                          "keyword_contain": {
                            "type": "array",
                            "description": "Contains all (exact matching)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_not_contain": {
                            "type": "array",
                            "description": "Does not contain all (exact matching)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_contain_one_of": {
                            "type": "array",
                            "description": "Contains one of (exact matching)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_not_contain_one_of": {
                            "type": "array",
                            "description": "Does not contain one of (exact matching)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_contain_broad_match": {
                            "type": "array",
                            "description": "Contains all (broad match)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_not_contain_broad_match": {
                            "type": "array",
                            "description": "Does not contain all (broad match)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_contain_one_of_broad_match": {
                            "type": "array",
                            "description": "Contains one of (broad match)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_not_contain_one_of_broad_match": {
                            "type": "array",
                            "description": "Does not contain one of (broad match)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "lang": {
                            "type": "string",
                            "enum": [
                              "uk",
                              "ru",
                              "en",
                              "bg",
                              "pl",
                              "de",
                              "es",
                              "it",
                              "fr",
                              "ro",
                              "be",
                              "hu",
                              "ka",
                              "el",
                              "other"
                            ],
                            "description": "Specify keyword language. Language filtration works only for `g_ua` database"
                          },
                          "intents_contain": {
                            "type": "array",
                            "description": "Contains one or several of intents",
                            "items": {
                              "type": "string",
                              "enum": [
                                "informational",
                                "navigational",
                                "commercial",
                                "transactional"
                              ]
                            }
                          },
                          "intents_not_contain": {
                            "type": "array",
                            "description": "Does not contain one of the intents",
                            "items": {
                              "type": "string",
                              "enum": [
                                "informational",
                                "navigational",
                                "commercial",
                                "transactional"
                              ]
                            }
                          }
                        }
                      },
                      "page": {
                        "type": "integer",
                        "description": "Page number in response",
                        "default": 1
                      },
                      "size": {
                        "type": "integer",
                        "description": "Number of results per page in response",
                        "default": 100
                      }
                    },
                    "required": [
                      "keyword",
                      "se"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "SerpstatKeywordProcedure.getKeywords",
                    "params": {
                      "keyword": "iphone",
                      "se": "g_us",
                      "minusKeywords": [
                        "iphone s 16",
                        "iphone 16"
                      ],
                      "withIntents": true,
                      "sort": {
                        "found_results": "asc"
                      },
                      "filters": {
                        "region_queries_count_from": 2000000
                      },
                      "order": {
                        "cost": "asc"
                      },
                      "page": 1,
                      "size": 3
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "139",
                    "method": "SerpstatKeywordProcedure.getKeywords",
                    "params": {
                      "keyword": "iphone",
                      "se": "g_us",
                      "minusKeywords": [
                        "iphone s 16",
                        "iphone 16"
                      ],
                      "withIntents": true,
                      "sort": {
                        "found_results": "asc"
                      },
                      "filters": {
                        "region_queries_count_from": 2000000
                      },
                      "order": {
                        "cost": "asc"
                      },
                      "page": 1,
                      "size": 3
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "keyword": {
                                "type": "string",
                                "description": "Keyword"
                              },
                              "cost": {
                                "type": "number",
                                "description": "Cost per click, $"
                              },
                              "concurrency": {
                                "type": "integer",
                                "description": "Keyword competition in PPC (0-100%)"
                              },
                              "found_results": {
                                "type": "integer",
                                "description": "Number of results found for the keyword"
                              },
                              "region_queries_count": {
                                "type": "integer",
                                "description": "Search volume in the selected region"
                              },
                              "region_queries_count_wide": {
                                "type": "integer",
                                "description": "Search volume (broad match)"
                              },
                              "types": {
                                "type": "array",
                                "description": "List of special elements shown in SERP (for example, video, carousel or map)",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "geo_names": {
                                "type": "array",
                                "description": "List of toponyms in the array (if toponyms are present in the keywords)",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "social_domains": {
                                "type": "array",
                                "description": "Social domains listed top-10 by the keyword",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "right_spelling": {
                                "type": "string",
                                "nullable": true,
                                "description": "Recommended correction of a misspelled keyword"
                              },
                              "lang": {
                                "type": "string",
                                "description": "Language of the keyword"
                              },
                              "keyword_length": {
                                "type": "integer",
                                "description": "Number of words divided by space in a keyword"
                              },
                              "difficulty": {
                                "type": "integer",
                                "description": "Competition level for a keyword to advance in organic search in the top-10 positions"
                              },
                              "intents": {
                                "type": "array",
                                "description": "Intents of the analyzed keyword This parameter is returned for g_ua and g_us database only",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "keyword",
                              "cost",
                              "concurrency",
                              "found_results",
                              "region_queries_count",
                              "region_queries_count_wide",
                              "types",
                              "geo_names",
                              "social_domains",
                              "right_spelling",
                              "lang",
                              "keyword_length",
                              "difficulty",
                              "intents"
                            ]
                          }
                        },
                        "summary_info": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "Page number"
                            },
                            "total": {
                              "type": "integer",
                              "description": "Number of found results"
                            },
                            "left_lines": {
                              "type": "integer",
                              "description": "API credits remaining"
                            }
                          },
                          "required": [
                            "page",
                            "total",
                            "left_lines"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "keyword": "iphone 1 to 6",
                            "cost": 1.7600000000000002,
                            "concurrency": 100,
                            "found_results": 4350000000,
                            "region_queries_count": 2240000,
                            "region_queries_count_wide": 0,
                            "types": [
                              "kn_graph_card",
                              "also_asks",
                              "pic",
                              "related_search",
                              "snip_breadcrumbs",
                              "snip_image_thumbnail"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "wikipedia",
                              "stack-overflow",
                              "reddit",
                              "amazon",
                              "youtube"
                            ],
                            "right_spelling": "iphone 1 to 6",
                            "lang": "en",
                            "keyword_length": 4,
                            "difficulty": 62,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "keyword": "iphone 1-6s",
                            "cost": 1.7599999999999998,
                            "concurrency": 100,
                            "found_results": 4430000000,
                            "region_queries_count": 2240000,
                            "region_queries_count_wide": 0,
                            "types": [
                              "pic",
                              "also_asks",
                              "related_search"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "youtube",
                              "reddit",
                              "amazon",
                              "wikipedia"
                            ],
                            "right_spelling": null,
                            "lang": "en",
                            "keyword_length": 2,
                            "difficulty": 31,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "keyword": "iphone from 1 to 6",
                            "cost": 1.7600000000000002,
                            "concurrency": 100,
                            "found_results": 4860000000,
                            "region_queries_count": 2240000,
                            "region_queries_count_wide": 0,
                            "types": [
                              "pic",
                              "a_box_fsnippet",
                              "related_search",
                              "also_asks",
                              "kn_graph_card",
                              "snip_breadcrumbs",
                              "snip_featured"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "youtube",
                              "reddit",
                              "wikipedia",
                              "amazon"
                            ],
                            "right_spelling": "iphone from 1 to 6",
                            "lang": "en",
                            "keyword_length": 5,
                            "difficulty": 56,
                            "intents": [
                              "informational"
                            ]
                          }
                        ],
                        "summary_info": {
                          "page": 1,
                          "total": 5,
                          "left_lines": 999518
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "137",
                      "result": {
                        "data": [
                          {
                            "keyword": "iphone 1 to 6",
                            "cost": 1.7600000000000002,
                            "concurrency": 100,
                            "found_results": 4350000000,
                            "region_queries_count": 2240000,
                            "region_queries_count_wide": 0,
                            "types": [
                              "kn_graph_card",
                              "also_asks",
                              "pic",
                              "related_search",
                              "snip_breadcrumbs",
                              "snip_image_thumbnail"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "wikipedia",
                              "stack-overflow",
                              "reddit",
                              "amazon",
                              "youtube"
                            ],
                            "right_spelling": "iphone 1 to 6",
                            "lang": "en",
                            "keyword_length": 4,
                            "difficulty": 62,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "keyword": "iphone 1-6s",
                            "cost": 1.7599999999999998,
                            "concurrency": 100,
                            "found_results": 4430000000,
                            "region_queries_count": 2240000,
                            "region_queries_count_wide": 0,
                            "types": [
                              "pic",
                              "also_asks",
                              "related_search"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "youtube",
                              "reddit",
                              "amazon",
                              "wikipedia"
                            ],
                            "right_spelling": null,
                            "lang": "en",
                            "keyword_length": 2,
                            "difficulty": 31,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "keyword": "iphone from 1 to 6",
                            "cost": 1.7600000000000002,
                            "concurrency": 100,
                            "found_results": 4860000000,
                            "region_queries_count": 2240000,
                            "region_queries_count_wide": 0,
                            "types": [
                              "pic",
                              "a_box_fsnippet",
                              "related_search",
                              "also_asks",
                              "kn_graph_card",
                              "snip_breadcrumbs",
                              "snip_featured"
                            ],
                            "geo_names": [],
                            "social_domains": [
                              "youtube",
                              "reddit",
                              "wikipedia",
                              "amazon"
                            ],
                            "right_spelling": "iphone from 1 to 6",
                            "lang": "en",
                            "keyword_length": 5,
                            "difficulty": 56,
                            "intents": [
                              "informational"
                            ]
                          }
                        ],
                        "summary_info": {
                          "page": 1,
                          "total": 5,
                          "left_lines": 999518
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#SerpstatKeywordProcedure.getSuggestions": {
      "post": {
        "tags": [
          "Keyword Analysis"
        ],
        "summary": "getSuggestions",
        "description": "The `SerpstatKeywordProcedure.getSuggestions` method shows search suggestions for the keyword you requested (they are found by the full-text search). \n\n<!-- theme: success -->\n> **Credits**: **1 credit per row in response.** The number of charged credits corresponds to the number of results obtained upon request.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n> **Note**:  With the Serpstat API, you can only get the first 60,000 results, regardless of the number and size of the queries themselves. For more data - use the export option in the Domain Analysis, Keyword Analysis, or URL Analysis sections, or contact the manager for a сustom data export.",
        "operationId": "post-#SerpstatKeywordProcedure.getSuggestions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `SerpstatKeywordProcedure.getSuggestions`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "keyword": {
                        "type": "string",
                        "description": "Keyword to search for"
                      },
                      "se": {
                        "$ref": "#/components/schemas/se"
                      },
                      "filters": {
                        "type": "object",
                        "description": "Filter conditions",
                        "properties": {
                          "minus_keywords": {
                            "type": "array",
                            "description": "List of keywords to exclude from the search",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "page": {
                        "type": "integer",
                        "description": "Page number in response",
                        "default": 1
                      },
                      "size": {
                        "type": "integer",
                        "description": "Number of results per page in response",
                        "default": 100
                      }
                    },
                    "required": [
                      "keyword",
                      "se"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "SerpstatKeywordProcedure.getSuggestions",
                    "params": {
                      "keyword": "iphone 15",
                      "se": "g_us",
                      "filters": {
                        "minus_keywords": [
                          "iphone 5"
                        ]
                      },
                      "page": 1,
                      "size": 3
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "141",
                    "method": "SerpstatKeywordProcedure.getSuggestions",
                    "params": {
                      "keyword": "social security administration houston tx",
                      "se": "g_us",
                      "filters": {
                        "minus_keywords": [
                          "rent"
                        ]
                      },
                      "page": 1,
                      "size": 3
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "keyword": {
                                "type": "string",
                                "description": "Search suggestion"
                              },
                              "geo_names": {
                                "type": "array",
                                "description": "\t\nList of toponyms in the array (if toponyms are present in the keywords)",
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "required": [
                              "keyword",
                              "geo_names"
                            ]
                          }
                        },
                        "summary_info": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "Page number"
                            },
                            "total": {
                              "type": "integer",
                              "description": "Number of found search suggestions"
                            },
                            "left_lines": {
                              "type": "integer",
                              "description": "API credits remaining"
                            }
                          },
                          "required": [
                            "page",
                            "total",
                            "left_lines"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "keyword": "how.to.charge iphone.15. to preserve battery life",
                            "geo_names": []
                          },
                          {
                            "keyword": "iphone.15 pro max 512gb color",
                            "geo_names": []
                          },
                          {
                            "keyword": "shortcut to change wallpaper iphone.15",
                            "geo_names": []
                          }
                        ],
                        "summary_info": {
                          "page": 1,
                          "total": 9,
                          "left_lines": 999280
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "141",
                      "result": {
                        "data": [
                          {
                            "keyword": "social security administration 290 houston tx",
                            "geo_names": [
                              "houston"
                            ]
                          },
                          {
                            "keyword": "social security administration houston tx locations",
                            "geo_names": [
                              "houston"
                            ]
                          },
                          {
                            "keyword": "social security administration office houston tx",
                            "geo_names": []
                          }
                        ],
                        "summary_info": {
                          "page": 1,
                          "total": 26,
                          "left_lines": 9999933
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#SerpstatKeywordProcedure.getRelatedKeywords": {
      "post": {
        "tags": [
          "Keyword Analysis"
        ],
        "summary": "getRelatedKeywords",
        "description": "The `SerpstatKeywordProcedure.getRelatedKeywords` method shows all search queries that are semantically related to the searched keyword. \n\n<!-- theme: success -->\n> **Credits**: **1 credit per row in response.** The number of charged credits corresponds to the number of results obtained upon request.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n> **Note**:  With the Serpstat API, you can only get the first 60,000 results, regardless of the number and size of the queries themselves. For more data - use the export option in the Domain Analysis, Keyword Analysis, or URL Analysis sections, or contact the manager for a сustom data export.",
        "operationId": "post-#SerpstatKeywordProcedure.getRelatedKeywords",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `SerpstatKeywordProcedure.getRelatedKeywords`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "keyword": {
                        "type": "string",
                        "description": "Keyword to search for"
                      },
                      "se": {
                        "$ref": "#/components/schemas/se"
                      },
                      "withIntents": {
                        "type": "boolean",
                        "description": "Keyword intent\nThis parameter works for `g_ua` and `g_us` database only"
                      },
                      "filters": {
                        "type": "object",
                        "description": "Filters for search. Fields are combined using the **AND** logic. Numeric range fields (`_from` and `_to`) allow specifying minimum and maximum values. List fields (`_contain` and `_not_contain`) specify inclusion or exclusion criteria",
                        "properties": {
                          "cost": {
                            "type": "number",
                            "description": "Cost per click (in US $; exact match)"
                          },
                          "cost_from": {
                            "type": "number",
                            "description": "Cost per click (in US $; exact match) from"
                          },
                          "cost_to": {
                            "type": "number",
                            "description": "Cost per click (in US $; exact match) to"
                          },
                          "concurrency": {
                            "type": "integer",
                            "description": "Competition (how hard it is to promote a keyword to the top from 1-100)",
                            "minimum": 1,
                            "maximum": 100
                          },
                          "concurrency_from": {
                            "type": "integer",
                            "description": "Competition from (how hard it is to promote a keyword to the top from 1-100)",
                            "minimum": 1,
                            "maximum": 100
                          },
                          "concurrency_to": {
                            "type": "integer",
                            "description": "Competition to (how hard it is to promote a keyword to the top from 1-100)",
                            "minimum": 1,
                            "maximum": 100
                          },
                          "keyword_length": {
                            "type": "integer",
                            "description": "Number of words in the keyword"
                          },
                          "keyword_length_from": {
                            "type": "integer",
                            "description": "Number of words in the keyword from"
                          },
                          "keyword_length_to": {
                            "type": "integer",
                            "description": "Number of words in the keyword to"
                          },
                          "difficulty": {
                            "type": "integer",
                            "description": "The difficulty of the keyword"
                          },
                          "difficulty_from": {
                            "type": "integer",
                            "description": "The difficulty of the keyword from"
                          },
                          "difficulty_to": {
                            "type": "integer",
                            "description": "The difficulty of the keyword to"
                          },
                          "region_queries_count": {
                            "type": "integer",
                            "description": "Volume of the keyword by the selected region"
                          },
                          "region_queries_count_from": {
                            "type": "integer",
                            "description": "Volume of the keyword by the selected region from"
                          },
                          "region_queries_count_to": {
                            "type": "integer",
                            "description": "Volume of the keyword by the selected region to"
                          },
                          "right_spelling": {
                            "type": "boolean",
                            "description": "Display or not to display misspelled keywords (true or false)"
                          },
                          "keyword_contain": {
                            "type": "array",
                            "description": "Contains all keywords (exact matching)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_not_contain": {
                            "type": "array",
                            "description": "Does not contain all keywords (exact matching)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_contain_one_of": {
                            "type": "array",
                            "description": "Contains one of the keywords (exact matching)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_not_contain_one_of": {
                            "type": "array",
                            "description": "Does not contain one of the keywords (exact matching)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_not_contain_one_of_copy": {
                            "type": "array",
                            "description": "Does not contain one of the keywords (exact matching)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_contain_broad_match": {
                            "type": "array",
                            "description": "Contains all keywords (broad match)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_not_contain_broad_match": {
                            "type": "array",
                            "description": "Does not contain all keywords (broad match)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_contain_one_of_broad_match": {
                            "type": "array",
                            "description": "Contains one of the keywords (broad match)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyword_not_contain_one_of_broad_match": {
                            "type": "array",
                            "description": "Does not contain one of the keywords (broad match)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "weight": {
                            "type": "string",
                            "enum": [
                              "weight_from",
                              "weight_to"
                            ],
                            "description": "Connection strength"
                          },
                          "geo_names": {
                            "type": "string",
                            "enum": [
                              "contain",
                              "not_contain"
                            ],
                            "description": "Array of toponyms, if the toponym is present in the keyword"
                          },
                          "types": {
                            "type": "array",
                            "description": "The type of special elements in the output",
                            "items": {
                              "type": "string"
                            }
                          },
                          "intents_contain": {
                            "type": "array",
                            "description": "Contains one or several of intents",
                            "items": {
                              "type": "string",
                              "enum": [
                                "informational",
                                "navigational",
                                "commercial",
                                "transactional"
                              ]
                            }
                          },
                          "intents_not_contain": {
                            "type": "array",
                            "description": "Does not contain one of the intents",
                            "items": {
                              "type": "string",
                              "enum": [
                                "informational",
                                "navigational",
                                "commercial",
                                "transactional"
                              ]
                            }
                          }
                        }
                      },
                      "sort": {
                        "type": "object",
                        "description": "field — field to sort by\n\norder — sort direction (asc — ascending, desc — descending)\n\nExample `{\"region_queries_count\": \"desc\"}`"
                      },
                      "page": {
                        "type": "integer",
                        "description": "Page number in response",
                        "default": 1
                      },
                      "size": {
                        "type": "integer",
                        "description": "Number of results per page in response",
                        "default": 100
                      }
                    },
                    "required": [
                      "keyword",
                      "se"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "SerpstatKeywordProcedure.getRelatedKeywords",
                    "params": {
                      "keyword": "seo",
                      "se": "g_us",
                      "withIntents": true,
                      "filters": {
                        "region_queries_count_from": 1000
                      },
                      "sort": {
                        "region_queries_count": "asc"
                      },
                      "page": 1,
                      "size": 3
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "142",
                    "method": "SerpstatKeywordProcedure.getRelatedKeywords",
                    "params": {
                      "keyword": "seo",
                      "se": "g_us",
                      "withIntents": true,
                      "filters": {
                        "region_queries_count_from": 1000
                      },
                      "sort": {
                        "region_queries_count": "asc"
                      },
                      "page": 1,
                      "size": 3
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "keyword": {
                                "type": "string",
                                "description": "\t\nRelated keyword"
                              },
                              "region_queries_count": {
                                "type": "integer",
                                "description": "Search volume in selected region"
                              },
                              "cost": {
                                "type": "number",
                                "description": "Cost per click (USD), that is monthly updated"
                              },
                              "concurrency": {
                                "type": "integer",
                                "description": "Keyword competition in the PPC (0-100%)"
                              },
                              "geo_names": {
                                "type": "array",
                                "description": "List of toponyms in the array (if toponyms are present in the keywords)",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "types": {
                                "type": "array",
                                "description": "List of special elements shown in SERP (for example, video, carousel or map)",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "right_spelling": {
                                "type": "string",
                                "nullable": true,
                                "description": "Recommended correction of a misspelled keyword"
                              },
                              "weight": {
                                "type": "integer",
                                "description": "The number of URLs in the top 20 results, which are ranked by the search keyword and the keyword from the report"
                              },
                              "difficulty": {
                                "type": "integer",
                                "description": "The assessment of the level of competition for a keyword to advance in organic search in the top-10 (from 1 to 100)"
                              },
                              "intents": {
                                "type": "array",
                                "description": "\t\nIntents of the analyzed keyword",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "keyword",
                              "region_queries_count",
                              "cost",
                              "concurrency",
                              "geo_names",
                              "types",
                              "right_spelling",
                              "weight",
                              "difficulty"
                            ]
                          }
                        },
                        "summary_info": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "Page number"
                            },
                            "total": {
                              "type": "integer",
                              "description": "Total number of related keywords found"
                            },
                            "left_lines": {
                              "type": "integer",
                              "description": "API credits remaining"
                            }
                          },
                          "required": [
                            "page",
                            "total",
                            "left_lines"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "keyword": "article on search engine optimization",
                            "region_queries_count": 1000,
                            "cost": 2.41,
                            "concurrency": 5,
                            "geo_names": [],
                            "types": [
                              "related_search",
                              "also_asks",
                              "snip_breadcrumbs"
                            ],
                            "right_spelling": null,
                            "weight": 2,
                            "difficulty": 24,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "keyword": "articles on search engine optimization",
                            "region_queries_count": 1000,
                            "cost": 1.793633,
                            "concurrency": 6,
                            "geo_names": [],
                            "types": [
                              "related_search",
                              "video",
                              "also_asks",
                              "snip_breadcrumbs"
                            ],
                            "right_spelling": null,
                            "weight": 1,
                            "difficulty": 7,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "keyword": "best course for seo",
                            "region_queries_count": 1000,
                            "cost": 2.86,
                            "concurrency": 10,
                            "geo_names": [],
                            "types": [
                              "also_asks",
                              "related_search",
                              "snip_breadcrumbs"
                            ],
                            "right_spelling": null,
                            "weight": 1,
                            "difficulty": 15,
                            "intents": [
                              "commercial"
                            ]
                          }
                        ],
                        "summary_info": {
                          "page": 1,
                          "total": 1298,
                          "left_lines": 999253
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "143",
                      "result": {
                        "data": [
                          {
                            "keyword": "article on search engine optimization",
                            "region_queries_count": 1000,
                            "cost": 2.41,
                            "concurrency": 5,
                            "geo_names": [],
                            "types": [
                              "related_search",
                              "also_asks",
                              "snip_breadcrumbs"
                            ],
                            "right_spelling": null,
                            "weight": 2,
                            "difficulty": 24,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "keyword": "articles on search engine optimization",
                            "region_queries_count": 1000,
                            "cost": 1.793633,
                            "concurrency": 6,
                            "geo_names": [],
                            "types": [
                              "related_search",
                              "video",
                              "also_asks",
                              "snip_breadcrumbs"
                            ],
                            "right_spelling": null,
                            "weight": 1,
                            "difficulty": 7,
                            "intents": [
                              "informational"
                            ]
                          },
                          {
                            "keyword": "best course for seo",
                            "region_queries_count": 1000,
                            "cost": 2.86,
                            "concurrency": 10,
                            "geo_names": [],
                            "types": [
                              "also_asks",
                              "related_search",
                              "snip_breadcrumbs"
                            ],
                            "right_spelling": null,
                            "weight": 1,
                            "difficulty": 15,
                            "intents": [
                              "commercial"
                            ]
                          }
                        ],
                        "summary_info": {
                          "page": 1,
                          "total": 1298,
                          "left_lines": 999253
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#SerpstatKeywordProcedure.getKeywordFullTop": {
      "post": {
        "tags": [
          "Keyword Analysis"
        ],
        "summary": "getKeywordFullTop",
        "description": "The `SerpstatKeywordProcedure.getKeywordFullTop` method shows you Google's top-100 search results for the analyzed keyword.\n\n<!-- theme: success -->\n> **Credits**: **1 credit per row in response.** The number of charged credits corresponds to the number of results obtained upon request.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n\nPart of the API response, for which 1 credit is charged:\n```json\n{\n        \"position\": 1,\n        \"url\": \"https://www.pizzahut.com/\",\n        \"url_keywords_count\": 49167,\n        \"domain\": \"pizzahut.com\",\n        \"domain_visibility\": 83.63,\n        \"domain_keywords_organic\": 1620324,\n        \"domain_keywords_ppc\": 435,\n        \"domain_top_10_keywords_count\": 320885,\n        \"domain_sdr\": 61,\n        \"domain_in_urls_count\": 768658,\n        \"domain_in_domains_count\": 13054,\n        \"domain_out_urls_count\": 902329,\n        \"domain_out_domains_count\": 174\n}\n```   \n",
        "operationId": "post-#SerpstatKeywordProcedure.getKeywordFullTop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `SerpstatKeywordProcedure.getKeywordFullTop`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "keyword": {
                        "type": "string",
                        "description": "Keyword to search for"
                      },
                      "se": {
                        "$ref": "#/components/schemas/se"
                      },
                      "sort": {
                        "type": "object",
                        "description": "Order of sorting the results in the format: `field: order`\n\n- **field** — field to sort by (any field in *top* section of response)\n- **order** — sort direction (`asc` — ascending, `desc` — descending)\n\nExample `{\"region_queries_count\": \"desc\"}`"
                      },
                      "size": {
                        "type": "integer",
                        "description": "Number of results per page in response",
                        "minimum": 10,
                        "maximum": 100
                      }
                    },
                    "required": [
                      "keyword",
                      "se"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "SerpstatKeywordProcedure.getKeywordFullTop",
                    "params": {
                      "keyword": "pizza",
                      "se": "g_us",
                      "withIntents": true,
                      "sort": {
                        "position": "asc"
                      },
                      "size": 10
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "145",
                    "method": "SerpstatKeywordProcedure.getKeywordFullTop",
                    "params": {
                      "keyword": "pizza",
                      "se": "g_us",
                      "sort": {
                        "position": "asc"
                      },
                      "size": 10
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "top": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "position": {
                                "type": "integer",
                                "description": "Position in top results"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL of the domain in top results"
                              },
                              "url_keywords_count": {
                                "type": "integer",
                                "description": "The number of organic keywords the URL ranks for in Google top-100 results"
                              },
                              "domain": {
                                "type": "string",
                                "description": "Domain of the URL"
                              },
                              "domain_visibility": {
                                "type": "number",
                                "description": "Visibility of a domain in top-20 search results. It's a relative indicator, which is calculated as a ratio of the amount and popularity of keywords a domain is shown for"
                              },
                              "domain_keywords_organic": {
                                "type": "integer",
                                "description": "The number of organic keywords the domain ranks for in Google top-100 results"
                              },
                              "domain_keywords_ppc": {
                                "type": "integer",
                                "description": "The number of ppc keywords the domain ranks for in Google top-100 results"
                              },
                              "domain_top_10_keywords_count": {
                                "type": "integer",
                                "description": "The number of organic keywords the domain ranks for in Google top-10 results"
                              },
                              "domain_sdr": {
                                "type": "integer",
                                "description": "Serpstat Domain Rank (SDR) — an indicator of domain authority"
                              },
                              "domain_in_urls_count": {
                                "type": "integer",
                                "description": "Number of domain's backlinks"
                              },
                              "domain_in_domains_count": {
                                "type": "integer",
                                "description": "Number of referring domains"
                              },
                              "domain_out_urls_count": {
                                "type": "integer",
                                "description": "Number of links from the analyzed domain"
                              },
                              "domain_out_domains_count": {
                                "type": "integer",
                                "description": "Number of domains to which the analyzed domain links"
                              }
                            },
                            "required": [
                              "position",
                              "url",
                              "url_keywords_count",
                              "domain",
                              "domain_visibility",
                              "domain_keywords_organic",
                              "domain_keywords_ppc",
                              "domain_top_10_keywords_count",
                              "domain_sdr",
                              "domain_in_urls_count",
                              "domain_in_domains_count",
                              "domain_out_urls_count",
                              "domain_out_domains_count"
                            ]
                          }
                        },
                        "summary_info": {
                          "type": "object",
                          "properties": {
                            "keywords": {
                              "type": "integer",
                              "description": "Number of keywords in SEO"
                            },
                            "frequency": {
                              "type": "integer",
                              "description": "Keyword's search volume"
                            },
                            "cost": {
                              "type": "number",
                              "description": "Cost per click (USD), that is monthly updated"
                            },
                            "difficulty": {
                              "type": "integer",
                              "description": "The assessment of the level of competition for a keyword to advance in organic search in the top-10 (from 1 to 100)"
                            },
                            "concurrency": {
                              "type": "integer",
                              "description": "Keyword competition in the PPC (0-100%)"
                            },
                            "types": {
                              "type": "array",
[...]
