{
    "openapi": "3.0.0",
    "x-stoplight": {
        "id": "qg66n5b8k3inc"
    },
    "info": {
        "title": "Domain Analysis API",
        "version": "4.0",
        "description": "### Current version: 4\n\nhttps://api.serpstat.com/v4 — Endpoint URL, through which all requests should be processed.\n\n### API protocol\n\n- Our API protocol is [**JSON-RPC 2.0**](https://www.jsonrpc.org/specification).\n\n### Requests\n\n- All requests should be sent via **POST** method.\n- All request parameters must be set via POST request body in **JSON** format.\n- Each request should contain a `method` name parameter corresponding to the API method (case-sensitive).\n\n### Authentication\n\n- Tokens are used for authentication. Create a token on [your profile page](https://serpstat.com/users/profile/). \n- `token` is required for all API requests.\n- Api token is available for almost paid and trial plans that have API feature enabled.\n\n### Pagination\n\nFor pagination, use the parameters:\n- `size`: number of results per page (default 100, maximum 1000);\n- `page`: page number (default is 1st page).\n\nPlease note: not all methods are supporting pagination.\n\n\n### Filters\n\nFilters can be applied to each method, most of them are specific for the method you used.\n`filters` object are optional for most methods.\n\n### Responses\n\n- All responses are in **JSON** format.\n- All responses have 200 HTTP status, even erroneous ones. In case of error, the response contains an `error` object instead of `result`.\n\n\n### API credits (limits)\n\nWhen calculating the used credits, your pricing plan's API requests are taken into account, including identical requests and requests for export.\n\n### Request rates\n\nMost subscription plans are limited to 1 request per second.\nTop-tier plans allow up to 10 requests per second.\nFor higher rate limits, contact our sales team.\nExceeding your rate limit will result in an error response.\n\n### Max results\n\nThe maximum number of results returned by each API method is limited up to 60,000 rows.\n",
        "contact": {
            "url": "https://serpstat.com",
            "email": "support@serpstat.com",
            "name": "Support"
        },
        "termsOfService": "https://serpstat.com/users/license-agreement/",
        "license": {
            "name": "CC BY 4.0",
            "url": "https://creativecommons.org/licenses/by/4.0/"
        }
    },
    "servers": [
        {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
        }
    ],
    "tags": [
        {
            "name": "Domain Analysis",
            "description": "Methods to get SEO characteristics for domains"
        }
    ],
    "paths": {
        "/#SerpstatDomainProcedure.getDomainsInfo": {
            "post": {
                "summary": "getDomainsInfo",
                "description": "Method `SerpstatDomainProcedure.getDomainsInfo` provides the summary SEO information for an array of domains for specified search engine database.\n\n<!-- theme: success -->\n> **Credits**: 5 API credits are spent per each domain in response.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n",
                "tags": [
                    "Domain Analysis"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "id": "1",
                                            "result": {
                                                "data": [
                                                    {
                                                        "domain": "nike.com",
                                                        "visible": 353.8265,
                                                        "keywords": 2787767,
                                                        "traff": 161929036,
                                                        "visible_dynamic": 10.902100000000019,
                                                        "keywords_dynamic": 89982,
                                                        "traff_dynamic": 2554976,
                                                        "ads_dynamic": 48,
                                                        "new_keywords": 246771,
                                                        "out_keywords": 156789,
                                                        "rised_keywords": 304239,
                                                        "down_keywords": 174546,
                                                        "ad_keywords": 312,
                                                        "ads": 288,
                                                        "prev_date": "2024-12-03"
                                                    },
                                                    {
                                                        "domain": "adidas.com",
                                                        "visible": 101.9537,
                                                        "keywords": 1577112,
                                                        "traff": 42296937,
                                                        "visible_dynamic": 16.1366,
                                                        "keywords_dynamic": 93520,
                                                        "traff_dynamic": 3345090,
                                                        "ads_dynamic": 3,
                                                        "new_keywords": 204673,
                                                        "out_keywords": 111153,
                                                        "rised_keywords": 181085,
                                                        "down_keywords": 94790,
                                                        "ad_keywords": 65,
                                                        "ads": 64,
                                                        "prev_date": "2024-12-03"
                                                    }
                                                ],
                                                "summary_info": {
                                                    "page": 1,
                                                    "left_lines": 9999899
                                                }
                                            }
                                        }
                                    },
                                    "properties": {
                                        "id": {
                                            "$ref": "#/components/schemas/id"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "description": "Contains separate response for every domain your requested",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "domain": {
                                                                "type": "string",
                                                                "description": "Domain name"
                                                            },
                                                            "visible": {
                                                                "type": "number",
                                                                "description": "Site visibility"
                                                            },
                                                            "keywords": {
                                                                "type": "integer",
                                                                "description": "Number of keywords found in the chosen search engine"
                                                            },
                                                            "traff": {
                                                                "type": "integer",
                                                                "description": "Estimated search traffic based on keyword positions and search volume"
                                                            },
                                                            "visible_dynamic": {
                                                                "type": "number",
                                                                "description": "Change in visibility since the last monitoring"
                                                            },
                                                            "keywords_dynamic": {
                                                                "type": "integer",
                                                                "description": "Change in the number of keywords since the last monitoring"
                                                            },
                                                            "traff_dynamic": {
                                                                "type": "integer",
                                                                "description": "Traffic change since the last monitoring"
                                                            },
                                                            "ads_dynamic": {
                                                                "type": "integer",
                                                                "description": "Dynamics of changes in PPC Ads"
                                                            },
                                                            "new_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of new keywords for the domain since the last monitoring found in SERPs"
                                                            },
                                                            "out_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of keywords lost by a domain since the last monitoring"
                                                            },
                                                            "rised_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of domain keywords for which positions have improved since the last monitoring"
                                                            },
                                                            "down_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of domain keywords for which positions have dropped since the last monitoring"
                                                            },
                                                            "ad_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of keywords in PPC"
                                                            },
                                                            "ads": {
                                                                "type": "integer",
                                                                "description": "Number of PPC Ads"
                                                            },
                                                            "prev_date": {
                                                                "type": "string",
                                                                "description": "Previous verification date"
                                                            }
                                                        }
                                                    }
                                                },
                                                "summary_info": {
                                                    "type": "object",
                                                    "description": "Left limits object",
                                                    "properties": {
                                                        "page": {
                                                            "type": "integer",
                                                            "description": "Page number"
                                                        },
                                                        "left_lines": {
                                                            "type": "integer",
                                                            "description": "API credits remaining"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "id": "1",
                                            "result": {
                                                "data": [
                                                    {
                                                        "domain": "nike.com",
                                                        "visible": 364.6492,
                                                        "keywords": 2910594,
                                                        "traff": 163283954,
                                                        "visible_dynamic": 0.11220000000002983,
                                                        "keywords_dynamic": 23298,
                                                        "traff_dynamic": 656882,
                                                        "ads_dynamic": 25,
                                                        "new_keywords": 150483,
                                                        "out_keywords": 127185,
                                                        "rised_keywords": 197848,
                                                        "down_keywords": 163764,
                                                        "ad_keywords": 307,
                                                        "ads": 259,
                                                        "prev_date": "2025-01-17"
                                                    },
                                                    {
                                                        "domain": "adidas.com",
                                                        "visible": 115.1006,
                                                        "keywords": 1747260,
                                                        "traff": 46445393,
                                                        "visible_dynamic": -1.2323999999999984,
                                                        "keywords_dynamic": 34073,
                                                        "traff_dynamic": 269123,
                                                        "ads_dynamic": 125,
                                                        "new_keywords": 133070,
                                                        "out_keywords": 98997,
                                                        "rised_keywords": 134307,
                                                        "down_keywords": 116026,
                                                        "ad_keywords": 173,
                                                        "ads": 138,
                                                        "prev_date": "2025-01-17"
                                                    }
                                                ],
                                                "summary_info": {
                                                    "page": 1,
                                                    "left_lines": 973402
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "post-v4-?token=-token-&SerpstatDomainProcedure.getDomainsInfo",
                "x-stoplight": {
                    "id": "34gt6x6a3v4wp"
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "id": "1",
                                        "method": "SerpstatDomainProcedure.getDomainsInfo",
                                        "params": {
                                            "domains": [
                                                "nike.com",
                                                "adidas.com"
                                            ],
                                            "se": "g_us"
                                        }
                                    }
                                },
                                "required": [
                                    "id",
                                    "method",
                                    "params"
                                ],
                                "properties": {
                                    "id": {
                                        "$ref": "#/components/schemas/id"
                                    },
                                    "method": {
                                        "type": "string",
                                        "description": "must be exact `SerpstatDomainProcedure.getDomainsInfo`\n"
                                    },
                                    "params": {
                                        "type": "object",
                                        "required": [
                                            "domains",
                                            "se"
                                        ],
                                        "properties": {
                                            "domains": {
                                                "type": "array",
                                                "description": "List of domains you want get data for.\n\nIf you would get data for one domain - provide array with one member, eg. `[\"example.com\"]`",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "se": {
                                                "$ref": "#/components/schemas/se"
                                            },
                                            "filters": {
                                                "$ref": "#/components/schemas/basic-filters"
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Example 1": {
                                    "value": {
                                        "id": "1",
                                        "method": "SerpstatDomainProcedure.getDomainsInfo",
                                        "params": {
                                            "domains": [
                                                "nike.com",
                                                "adidas.com"
                                            ],
                                            "se": "g_us"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [],
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/#SerpstatDomainProcedure.getDomainsHistory": {
            "post": {
                "summary": "getDomainsHistory",
                "tags": [
                    "Domain Analysis"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "id": "1",
                                            "result": {
                                                "data": [
                                                    {
                                                        "domain": "nike.com",
                                                        "keywords": 3175733,
                                                        "traff": 124030271,
                                                        "visible": 321.01933,
                                                        "visible_static": 321.01933,
                                                        "new_keywords": 402174,
                                                        "out_keywords": 181443,
                                                        "rised_keywords": 201436,
                                                        "down_keywords": 175548,
                                                        "ad_keywords": 3902,
                                                        "ads": 2968,
                                                        "date": "2022-07-30"
                                                    },
                                                    {
                                                        "domain": "nike.com",
                                                        "keywords": 2864240,
                                                        "traff": 120305851,
                                                        "visible": 318.67893,
                                                        "visible_static": 318.67893,
                                                        "new_keywords": 17958,
                                                        "out_keywords": 10231,
                                                        "rised_keywords": 22929,
                                                        "down_keywords": 15477,
                                                        "ad_keywords": 1046,
                                                        "ads": 934,
                                                        "date": "2022-06-03"
                                                    },
                                                    {
                                                        "domain": "nike.com",
                                                        "keywords": 2856513,
                                                        "traff": 117422687,
                                                        "visible": 318.90148,
                                                        "visible_static": 318.90148,
                                                        "new_keywords": 32115,
                                                        "out_keywords": 25209,
                                                        "rised_keywords": 36776,
                                                        "down_keywords": 39943,
                                                        "ad_keywords": 921,
                                                        "ads": 823,
                                                        "date": "2022-05-20"
                                                    },
                                                    {
                                                        "domain": "nike.com",
                                                        "keywords": 3181128,
                                                        "traff": 128046844,
                                                        "visible": 316.96538,
                                                        "visible_static": 316.96538,
                                                        "new_keywords": 27433,
                                                        "out_keywords": 11143,
                                                        "rised_keywords": 24665,
                                                        "down_keywords": 23018,
                                                        "ad_keywords": 3327,
                                                        "ads": 2964,
                                                        "date": "2022-01-18"
                                                    },
                                                    {
                                                        "domain": "nike.com",
                                                        "keywords": 727939,
                                                        "traff": 15070081,
                                                        "visible": 422.66821,
                                                        "visible_static": 422.66821,
                                                        "new_keywords": 1853,
                                                        "out_keywords": 1166,
                                                        "rised_keywords": 2071,
                                                        "down_keywords": 812,
                                                        "ad_keywords": 11594,
                                                        "ads": 3815,
                                                        "date": "2017-03-22"
                                                    }
                                                ],
                                                "summary_info": {
                                                    "page": 1,
                                                    "total": 5,
                                                    "left_lines": 935732
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "result"
                                    ],
                                    "properties": {
                                        "id": {
                                            "$ref": "#/components/schemas/id"
                                        },
                                        "result": {
                                            "type": "object",
                                            "required": [
                                                "data",
                                                "summary_info"
                                            ],
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "description": "Contains 2-4 week data points for given domain",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "domain",
                                                            "keywords",
                                                            "traff",
                                                            "visible",
                                                            "visible_static",
                                                            "new_keywords",
                                                            "out_keywords",
                                                            "rised_keywords",
                                                            "down_keywords",
                                                            "ad_keywords",
                                                            "ads",
                                                            "date"
                                                        ],
                                                        "properties": {
                                                            "domain": {
                                                                "type": "string",
                                                                "description": "Domain name"
                                                            },
                                                            "keywords": {
                                                                "type": "integer",
                                                                "description": "Number of keywords seen in SEPSs for given search engine"
                                                            },
                                                            "traff": {
                                                                "type": "integer",
                                                                "description": "Estimated search traffic based on keyword positions and search volume"
                                                            },
                                                            "visible": {
                                                                "type": "number",
                                                                "description": "Site visibility"
                                                            },
                                                            "visible_static": {
                                                                "type": "number",
                                                                "description": "Change in visibility since the last monitoring"
                                                            },
                                                            "new_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of new keywords since the last 2-4 weeks"
                                                            },
                                                            "out_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of lost keywords since the last N-days monitoring"
                                                            },
                                                            "rised_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of keywords which positions of the domain have improved over the last N-days"
                                                            },
                                                            "down_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of keywords which positions of the domain have dropped over the last N-days"
                                                            },
                                                            "ad_keywords": {
                                                                "type": "integer",
                                                                "description": "Number of keywords in PPC"
                                                            },
                                                            "ads": {
                                                                "type": "integer",
                                                                "description": "Number of ads in PPC"
                                                            },
                                                            "date": {
                                                                "type": "string",
                                                                "description": "Date when the metrics were recorded"
                                                            }
                                                        }
                                                    }
                                                },
                                                "summary_info": {
                                                    "type": "object",
                                                    "description": "Credits and info object",
                                                    "required": [
                                                        "page",
                                                        "total",
                                                        "left_lines"
                                                    ],
                                                    "properties": {
                                                        "page": {
                                                            "type": "integer",
                                                            "description": "page number"
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "description": "Number of results for request"
                                                        },
                                                        "left_lines": {
                                                            "type": "integer",
                                                            "description": "API credits remaining after this request"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "id": "100501",
                                            "result": {
                                                "data": [
                                                    {
                                                        "domain": "nike.com",
                                                        "keywords": 3164090,
                                                        "traff": 171700098,
                                                        "visible": 376.81473,
                                                        "visible_static": 376.81473,
                                                        "new_keywords": 97474,
                                                        "out_keywords": 125533,
                                                        "rised_keywords": 111684,
                                                        "down_keywords": 150290,
                                                        "ad_keywords": 288,
                                                        "ads": 222,
                                                        "date": "2025-06-02"
                                                    },
                                                    {
                                                        "domain": "www.nike.com",
                                                        "keywords": 2953815,
                                                        "traff": 175740898,
                                                        "visible": 404.83169,
                                                        "visible_static": 404.83169,
                                                        "new_keywords": 133024,
                                                        "out_keywords": 143086,
                                                        "rised_keywords": 155965,
                                                        "down_keywords": 181128,
                                                        "ad_keywords": 327,
                                                        "ads": 244,
                                                        "date": "2025-05-21"
                                                    },
                                                    {
                                                        "domain": "nike.com",
                                                        "keywords": 3192149,
                                                        "traff": 179250655,
                                                        "visible": 407.14943,
                                                        "visible_static": 407.14943,
                                                        "new_keywords": 167811,
                                                        "out_keywords": 167433,
                                                        "rised_keywords": 190782,
                                                        "down_keywords": 212159,
                                                        "ad_keywords": 339,
                                                        "ads": 246,
                                                        "date": "2025-05-18"
                                                    }
                                                ],
                                                "summary_info": {
                                                    "page": 1,
                                                    "total": 3,
                                                    "left_lines": 9999979
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "post-v4-?token=-token-&SerpstatDomainProcedure.getDomainsHistory",
                "x-stoplight": {
                    "id": "dq0nqjmklqy2l"
                },
                "description": "Method **SerpstatDomainProcedure.getDomainsHistory** provides you with the historical data on a domain’s number of keywords and visibility. \n\n<!-- theme: success -->\n> **Credits**: 1 credit per member of `data` object array in response.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n\nIf no data found you will receive error:\n```json\n{\n  \"id\": \"1\",\n  \"error\": {\n    \"code\": 32017,\n    \"message\": \"Data not found\",\n    \"data\": null\n  }\n}\n```",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "id": "1",
                                        "method": "SerpstatDomainProcedure.getDomainsHistory",
                                        "params": {
                                            "domain": "nike.com",
                                            "se": "g_us",
                                            "sort": {
                                                "date": "desc"
                                            },
                                            "size": 20,
                                            "filters": {
                                                "visible_from": 315
                                            },
                                            "during_all_time": true
                                        }
                                    }
                                },
                                "required": [
                                    "id",
                                    "method",
                                    "params"
                                ],
                                "properties": {
                                    "id": {
                                        "$ref": "#/components/schemas/id"
                                    },
                                    "method": {
                                        "type": "string",
                                        "description": "must be exact `SerpstatDomainProcedure.getDomainsHistory`\n"
                                    },
                                    "params": {
                                        "type": "object",
                                        "required": [
                                            "domain",
                                            "se"
                                        ],
                                        "properties": {
                                            "domain": {
                                                "type": "string",
                                                "description": "domain name, example `\"gogler.com\"`"
                                            },
                                            "se": {
                                                "$ref": "#/components/schemas/se"
                                            },
                                            "during_all_time": {
                                                "type": "boolean",
                                                "description": "History period: if `true` -  get information on All time,\n`false` - get information on year to date"
                                            },
                                            "filters": {
                                                "$ref": "#/components/schemas/basic-filters-w-date"
                                            },
                                            "sort": {
                                                "type": "object",
                                                "description": "Order of sorting the results in the format: {field: order}\n",
                                                "properties": {
                                                    "keywords": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Total number of keywords."
                                                    },
                                                    "traff": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Traffic generated by the keywords."
                                                    },
                                                    "visible": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Visibility score."
                                                    },
                                                    "visible_static": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Static visibility."
                                                    },
                                                    "new_keywords": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Number of newly discovered keywords."
                                                    },
                                                    "out_keywords": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Number of keywords that dropped out."
                                                    },
                                                    "rised_keywords": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Number of keywords that increased in rank."
                                                    },
                                                    "down_keywords": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Number of keywords that decreased in rank."
                                                    },
                                                    "ad_keywords": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Number of keywords used in paid ads."
                                                    },
                                                    "ads": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Number of ads."
                                                    },
                                                    "date": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Date of the data entry."
                                                    }
                                                }
                                            },
                                            "size": {
                                                "type": "integer",
                                                "description": "Number of results per page in response",
                                                "default": 100,
                                                "minimum": 1,
                                                "maximum": 1000
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Example 1": {
                                    "value": {
                                        "id": "100501",
                                        "method": "SerpstatDomainProcedure.getDomainsHistory",
                                        "params": {
                                            "domain": "nike.com",
                                            "se": "g_us",
                                            "sort": {
                                                "date": "desc"
                                            },
                                            "filters": {
                                                "date_from": "2025-05-15",
                                                "date_to": "2025-06-04"
                                            },
                                            "size": 5,
                                            "during_all_time": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/#SerpstatDomainProcedure.getDomainKeywords": {
            "post": {
                "summary": "getDomainKeywords",
                "tags": [
                    "Domain Analysis"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "id": "1",
                                            "result": {
                                                "data": [
                                                    {
                                                        "domain": "nike.com",
                                                        "subdomain": "www.nike.com",
                                                        "keyword": "nike soccer near me",
                                                        "keyword_length": 4,
                                                        "url": "https://www.nike.com/soccer",
                                                        "position": 1,
                                                        "types": [
                                                            "related_search",
                                                            "also_asks",
                                                            "local_pack",
                                                            "pic",
                                                            "snip_breadcrumbs",
                                                            "snip_image_thumbnail"
                                                        ],
                                                        "found_results": 46400000,
                                                        "cost": 0,
                                                        "concurrency": 74,
                                                        "region_queries_count": 40,
                                                        "region_queries_count_wide": 0,
                                                        "geo_names": [],
                                                        "traff": 5,
                                                        "difficulty": 51,
                                                        "dynamic": 0,
                                                        "intents": [
                                                            "commercial"
                                                        ]
                                                    }
                                                ],
                                                "summary_info": {
                                                    "page": 1,
                                                    "total": 188,
                                                    "left_lines": 9999602
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "id"
                                    ],
                                    "properties": {
                                        "id": {
                                            "$ref": "#/components/schemas/id"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "subdomain",
                                                            "domain",
                                                            "keyword",
                                                            "keyword_length",
                                                            "url",
                                                            "position",
                                                            "types",
                                                            "found_results",
                                                            "cost",
                                                            "concurrency",
                                                            "region_queries_count",
                                                            "region_queries_count_wide",
                                                            "geo_names",
                                                            "traff",
                                                            "difficulty",
                                                            "dynamic"
                                                        ],
                                                        "properties": {
                                                            "subdomain": {
                                                                "type": "string",
                                                                "description": "Subdomain appeared in search results for a given keyword"
                                                            },
                                                            "domain": {
                                                                "type": "string",
                                                                "description": "Analyzed domain"
                                                            },
                                                            "keyword": {
                                                                "type": "string",
                                                                "description": "Keyword which the domain ranks for"
                                                            },
                                                            "keyword_length": {
                                                                "type": "integer",
                                                                "description": "Number of words divided by space in a keyword"
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "description": "URL appeared in the search result for the query"
                                                            },
                                                            "position": {
                                                                "type": "integer",
                                                                "description": "Domain's position for a keyword"
                                                            },
                                                            "types": {
                                                                "type": "array",
                                                                "description": "List of special elements shown in SERP (for example, `video`, `carousel` or `map`)",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "found_results": {
                                                                "type": "integer",
                                                                "description": "Number of results found for the keyword"
                                                            },
                                                            "cost": {
                                                                "type": "number",
                                                                "description": "Cost per click, $"
                                                            },
                                                            "concurrency": {
                                                                "type": "integer",
                                                                "description": "Keyword competition in the PPC (0-100%)"
                                                            },
                                                            "region_queries_count": {
                                                                "type": "integer",
                                                                "description": "Search volume in a selected region"
                                                            },
                                                            "region_queries_count_wide": {
                                                                "type": "integer",
                                                                "description": "Search volume in selected search engine database in broad match"
                                                            },
                                                            "geo_names": {
                                                                "type": "array",
                                                                "description": "List of toponyms in the array (if toponyms are present in the keywords)",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "traff": {
                                                                "type": "integer",
                                                                "description": "Approximate traffic by keyword depending on its volume and position"
                                                            },
                                                            "difficulty": {
                                                                "type": "integer",
                                                                "description": "The assessment of the level of competition for a keyword to advance in organic search in the top-10 (from 0 to 100%)"
                                                            },
                                                            "dynamic": {
                                                                "type": "integer",
                                                                "description": "Position change for the keyword"
                                                            },
                                                            "intents": {
                                                                "type": "array",
                                                                "description": "Intents of the analyzed keyword",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "summary_info": {
                                                    "type": "object",
                                                    "required": [
                                                        "page",
                                                        "total",
                                                        "left_lines"
                                                    ],
                                                    "properties": {
                                                        "page": {
                                                            "type": "integer",
                                                            "description": "Page number"
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "description": "Number of keywords which the domain ranks for in top of search results"
                                                        },
                                                        "left_lines": {
                                                            "type": "integer",
                                                            "description": "\t\nAPI credits remaining"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "id": "1",
                                            "result": {
                                                "data": [
                                                    {
                                                        "domain": "nike.com",
                                                        "subdomain": "www.nike.com",
                                                        "keyword": "nike soccer near me",
                                                        "keyword_length": 4,
                                                        "url": "https://www.nike.com/soccer",
                                                        "position": 1,
                                                        "types": [
                                                            "related_search",
                                                            "also_asks",
                                                            "local_pack",
                                                            "pic",
                                                            "snip_breadcrumbs",
                                                            "snip_image_thumbnail"
                                                        ],
                                                        "found_results": 46400000,
                                                        "cost": 0,
                                                        "concurrency": 74,
                                                        "region_queries_count": 40,
                                                        "region_queries_count_wide": 0,
                                                        "geo_names": [],
                                                        "traff": 5,
                                                        "difficulty": 51,
                                                        "dynamic": 0,
                                                        "intents": [
                                                            "commercial"
                                                        ]
                                                    },
                                                    {
                                                        "domain": "nike.com",
                                                        "subdomain": "www.nike.com",
                                                        "keyword": "soccer cleats nike store",
                                                        "keyword_length": 4,
                                                        "url": "https://www.nike.com/soccer",
                                                        "position": 2,
                                                        "types": [
                                                            "local_pack",
                                                            "related_search",
                                                            "pic",
                                                            "snip_breadcrumbs",
                                                            "snip_image_thumbnail"
                                                        ],
                                                        "found_results": 196,
                                                        "cost": 0.2,
                                                        "concurrency": 100,
                                                        "region_queries_count": 110000,
                                                        "region_queries_count_wide": 0,
                                                        "geo_names": [],
                                                        "traff": 15997,
                                                        "difficulty": 55,
                                                        "dynamic": 0,
                                                        "intents": [
                                                            "commercial"
                                                        ]
                                                    }
                                                ],
                                                "summary_info": {
                                                    "page": 1,
                                                    "total": 205,
                                                    "left_lines": 973412
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "post-#SerpstatDomainProcedure.getDomainKeywords",
                "x-stoplight": {
                    "id": "6l4untzurrrxt"
                },
                "description": "The `SerpstatDomainProcedure.getDomainKeywords` method return keywords which the analyzed domain ranks for in Google top-100 search results. The data set is similar to the Domain analysis — SEO research — Keywords report. \nYou can get up to 60 000 results in this report.\n\n<!-- theme: success -->\n> **Credits**: 1 credit per member of `data` object array in response. \n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n\nThe number of charged credits corresponds to the number of results obtained upon request. \n\n\nWith the Serpstat API, you can only get the first 60,000 results, regardless of the number and size of the queries themselves. For more data - use the export option in the Domain Analysis, Keyword Analysis, or URL Analysis sections, or contact the manager for a personal upload of the results.\n",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "id": "1",
                                        "method": "SerpstatDomainProcedure.getDomainKeywords",
                                        "params": {
                                            "domain": "nike.com",
                                            "se": "g_us",
                                            "withSubdomains": true,
                                            "withIntents": true,
                                            "sort": {
                                                "position": "asc"
                                            },
                                            "url": "https://www.nike.com/soccer",
                                            "keywords": [
                                                "shop",
                                                "nike"
                                            ],
                                            "minusKeywords": [
                                                "nikes",
                                                "nke"
                                            ],
                                            "page": "1",
                                            "size": "10",
                                            "filters": {
                                                "right_spelling": false,
                                                "intents_contain": [
                                                    "commercial"
                                                ],
                                                "intents_not_contain": [
                                                    "navigational"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "id",
                                    "method",
                                    "params"
                                ],
                                "properties": {
                                    "id": {
                                        "$ref": "#/components/schemas/id"
                                    },
                                    "method": {
                                        "type": "string",
                                        "description": "Should be exact `SerpstatDomainProcedure.getDomainKeywords`"
                                    },
                                    "params": {
                                        "type": "object",
                                        "required": [
                                            "domain",
                                            "se"
                                        ],
                                        "properties": {
                                            "domain": {
                                                "type": "string",
                                                "description": "Domain name"
                                            },
                                            "se": {
                                                "$ref": "#/components/schemas/se"
                                            },
                                            "withSubdomains": {
                                                "type": "boolean",
                                                "description": "Search type: with/without subdomains"
                                            },
                                            "withIntents": {
                                                "type": "boolean",
                                                "description": "Keyword intent. This parameter works for `g_ua` and `g_us` database only"
                                            },
                                            "url": {
                                                "type": "string",
                                                "description": "Link to refine your search",
                                                "format": "uri"
                                            },
                                            "keywords": {
                                                "type": "array",
                                                "description": "Array of keywords to search for",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "minusKeywords": {
                                                "type": "array",
                                                "description": "List of keywords to exclude from the search",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "filters": {
                                                "type": "object",
                                                "properties": {
                                                    "cost": {
                                                        "type": "number",
                                                        "description": "Cost per click (in US $; exact match)"
                                                    },
                                                    "cost_from": {
                                                        "type": "number",
                                                        "description": "Cost per click (in US $; exact match) from"
                                                    },
                                                    "cost_to": {
                                                        "type": "number",
                                                        "description": "Cost per click (in US $; exact match) to"
                                                    },
                                                    "position": {
                                                        "type": "integer",
                                                        "description": "Keyword position (any whole number in the range of 1-100)",
                                                        "minimum": 1,
                                                        "maximum": 100
                                                    },
                                                    "position_from": {
                                                        "type": "integer",
                                                        "description": "Keyword position from (any whole number in the range of 1-100)",
                                                        "minimum": 1,
                                                        "maximum": 100
                                                    },
                                                    "position_to": {
                                                        "type": "integer",
                                                        "description": "Keyword position to (any whole number in the range of 1-100)",
                                                        "minimum": 1,
                                                        "maximum": 100
                                                    },
                                                    "concurrency": {
                                                        "type": "integer",
                                                        "description": "Competition (how hard it is to promote a keyword to the top, from 1-100)",
                                                        "minimum": 1,
                                                        "maximum": 100
                                                    },
                                                    "concurrency_from": {
                                                        "type": "integer",
                                                        "description": "Competition (from, how hard it is to promote a keyword to the top, from 1-100)",
                                                        "minimum": 1,
                                                        "maximum": 100
                                                    },
                                                    "concurrency_to": {
                                                        "type": "integer",
                                                        "description": "Competition (to, how hard it is to promote a keyword to the top, from 1-100)",
                                                        "minimum": 1,
                                                        "maximum": 100
                                                    },
                                                    "keyword_length": {
                                                        "type": "integer",
                                                        "description": "Number of words in the keyword"
                                                    },
                                                    "difficulty": {
                                                        "type": "number",
                                                        "description": "The difficulty of the keyword"
                                                    },
                                                    "difficulty_from": {
                                                        "type": "number",
                                                        "description": "The difficulty of the keyword from"
                                                    },
                                                    "difficulty_to": {
                                                        "type": "number",
                                                        "description": "The difficulty of the keyword to"
                                                    },
                                                    "traff": {
                                                        "type": "integer",
                                                        "description": "Traffic by the keyword"
                                                    },
                                                    "region_queries_count": {
                                                        "type": "integer",
                                                        "description": "Volume of the keyword by the selected region"
                                                    },
                                                    "region_queries_count_from": {
                                                        "type": "integer",
                                                        "description": "Volume of the keyword by the selected region from"
                                                    },
                                                    "region_queries_count_to": {
                                                        "type": "integer",
                                                        "description": "Volume of the keyword by the selected region to"
                                                    },
                                                    "region_queries_count_wide": {
                                                        "type": "integer",
                                                        "description": "Volume of the keyword in broad match"
                                                    },
                                                    "region_queries_count_wide_from": {
                                                        "type": "integer",
                                                        "description": "Volume of the keyword in broad match from"
                                                    },
                                                    "region_queries_count_wide_to": {
                                                        "type": "integer",
                                                        "description": "Volume of the keyword in broad match to"
                                                    },
                                                    "url_contains": {
                                                        "type": "string",
                                                        "description": "Exact website pages ranking for the keywords",
                                                        "format": "uri"
                                                    },
                                                    "right_spelling": {
                                                        "type": "boolean",
                                                        "description": "Display or not display misspelled keywords"
                                                    },
                                                    "keyword_contain": {
                                                        "type": "string",
                                                        "description": "Contains all keywords (exact matching)"
                                                    },
                                                    "keyword_not_contain": {
                                                        "type": "string",
                                                        "description": "Does not contain all keywords (exact matching)"
                                                    },
                                                    "keyword_contain_one_of": {
                                                        "type": "string",
                                                        "description": "Contains one of the keywords (exact matching)"
                                                    },
                                                    "keyword_not_contain_one_of": {
                                                        "type": "string",
                                                        "description": "Does not contain one of the keywords (exact matching)"
                                                    },
                                                    "keyword_contain_broad_match": {
                                                        "type": "string",
                                                        "description": "Contains all keywords (broad match)"
                                                    },
                                                    "keyword_not_contain_broad_match": {
                                                        "type": "string",
                                                        "description": "Does not contain all keywords (broad match)"
                                                    },
                                                    "keyword_contain_one_of_broad_match": {
                                                        "type": "string",
                                                        "description": "Contains one of the keywords (broad match)"
                                                    },
                                                    "keyword_not_contain_one_of_broad_match": {
                                                        "type": "string",
                                                        "description": "Does not contain one of the keywords (broad match)"
                                                    },
                                                    "intents_contain": {
                                                        "type": "array",
                                                        "description": "Contains one or several of intents",
                                                        "example": [
                                                            "informational",
                                                            "commercial"
                                                        ],
                                                        "items": {
                                                            "type": "string",
                                                            "enum": [
                                                                "informational",
                                                                "navigational",
                                                                "commercial",
                                                                "transactional"
                                                            ]
                                                        }
                                                    },
                                                    "intents_not_contain": {
                                                        "type": "array",
                                                        "description": "Does not contain one of the intents",
                                                        "example": [
                                                            "navigational"
                                                        ],
                                                        "items": {
                                                            "type": "string",
                                                            "enum": [
                                                                "informational",
                                                                "navigational",
                                                                "commercial",
                                                                "transactional"
                                                            ]
                                                        }
                                                    }
                                                }
                                            },
                                            "sort": {
                                                "type": "object",
                                                "description": "Order of sorting the results in the format: {field: order}\n\nDefault: `{\"position\": \"asc\", \"region_queries_count\": \"desc\"}`\n",
                                                "properties": {
                                                    "region_queries_count": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by keyword search volume, where 'asc' means ascending and 'desc' means descending."
                                                    },
                                                    "types": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by special elements associated with the keywords, with 'asc' for ascending and 'desc' for descending."
                                                    },
                                                    "cost": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by the keyword cost per click (CPC), with 'asc' for ascending and 'desc' for descending."
                                                    },
                                                    "keyword_length": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by the length of the keyword (number of words), with 'asc' for ascending and 'desc' for descending."
                                                    },
                                                    "concurrency": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by concurrency, indicating the availability or competition for the keyword, with 'asc' for ascending and 'desc' for descending."
                                                    },
                                                    "geo_names": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by the toponyms (geographic locations) related to the keyword, with 'asc' for ascending and 'desc' for descending."
                                                    },
                                                    "traff": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by the traffic associated with the keyword, with 'asc' for ascending and 'desc' for descending."
                                                    },
                                                    "region_queries_count_wide": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by the keyword volume in broad match, where 'asc' means ascending and 'desc' means descending."
                                                    },
                                                    "dynamic": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by keyword dynamic, indicating how often the keyword changes, with 'asc' for ascending and 'desc' for descending."
                                                    },
                                                    "position": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
                                                        "description": "Sort by the position of the keyword, with 'asc' for ascending and 'desc' for descending."
                                                    },
                                                    "found_results": {
                                                        "type": "string",
                                                        "enum": [
                                                            "asc",
                                                            "desc"
                                                        ],
[...]
