{
  "openapi": "3.0.0",
  "info": {
    "version": "4.0",
    "title": "Backlinks API",
    "description": "### Current version: 4\n\nhttps://api.serpstat.com/v4 — Endpoint URL, through which all requests should be processed.\n\n### API protocol\n\n- Our API protocol is [**JSON-RPC 2.0**](https://www.jsonrpc.org/specification).\n\n### Requests\n\n- All requests should be sent via **POST** method.\n- All request parameters must be set via POST request body in **JSON** format.\n- Each request should contain a `method` name parameter corresponding to the API method (case-sensitive).\n\n### Authentication\n\n- Tokens are used for authentication. Create a token on [your profile page](https://serpstat.com/users/profile/). \n- `token` is required for all API requests.\n- Api token is available for almost paid and trial plans that have API feature enabled.\n\n### Pagination\n\nFor pagination, use the parameters:\n- `size`: number of results per page (default 100, maximum 1000);\n- `page`: page number (default is 1st page).\n\nPlease note: not all methods are supporting pagination.\n\n\n### Filters\n\nFilters can be applied to each method, most of them are specific for the method you used.\n`filters` object are optional for most methods.\n\n### Responses\n\n- All responses are in **JSON** format.\n- All responses have 200 HTTP status, even erroneous ones. In case of error, the response contains an `error` object instead of `result`.\n\n\n### API credits (limits)\n\nWhen calculating the used credits, your pricing plan's API requests are taken into account, including identical requests and requests for export.\n\n### Request rates\n\nMost subscription plans are limited to 1 request per second.\nTop-tier plans allow up to 10 requests per second.\nFor higher rate limits, contact our sales team.\nExceeding your rate limit will result in an error response.\n\n### Max results\n\nThe maximum number of results returned by each API method is limited up to 60,000 rows.\n",
    "termsOfService": "https://serpstat.com/users/license-agreement/",
    "contact": {
      "url": "https://serpstat.com",
      "email": "support@serpstat.com",
      "name": "Support"
    },
    "license": {
      "url": "https://creativecommons.org/licenses/by/4.0/",
      "name": "CC BY 4.0"
    }
  },
  "servers": [
    {
      "url": "https://api.serpstat.com/v4",
      "description": "Default server"
    }
  ],
  "paths": {
    "/#SerpstatBacklinksProcedure.getSummary": {
      "post": {
        "tags": [
          "Backlinks"
        ],
        "summary": "getSummary",
        "description": "The `SerpstatBacklinksProcedure.getSummary` method gives you general information about link profile: number of external links, referring IP addresses and subnets, number of referring domains and subdomains, domain authority indicator and types of referring links. The data set is similar to the [Overview report](https://serpstat.com/backlinks/dashboard/).\n\n<!-- theme: danger -->\n> **This method is deprecated*\n\n<!-- theme: success -->\n> **Credits**: 5 API credits are spent per 1 request\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n\n\n\nUse case:\n1. You want to understand what links your competitors have.\n2. Use `SerpstatBacklinksProcedure.getSummary` to get information about the number of inbound links and referring domains;\n3. Determine which sites are linking to your competitors to identify potential link opportunities for your client.",
        "operationId": "post-#SerpstatBacklinksProcedure.getSummary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `SerpstatBacklinksProcedure.getSummary`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "$ref": "#/components/schemas/domainQuery"
                      },
                      "searchType": {
                        "$ref": "#/components/schemas/searchType"
                      }
                    },
                    "required": [
                      "query"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getSummary",
                    "params": {
                      "query": "serpstat.com",
                      "searchType": "domain"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getSummary",
                    "params": {
                      "query": "serpstat.com",
                      "searchType": "domain"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "referringDomains": {
                              "type": "integer",
                              "description": "Number of referring domains"
                            },
                            "referringSubDomains": {
                              "type": "integer",
                              "description": "Number of referring subdomains"
                            },
                            "referringLinks": {
                              "type": "integer",
                              "description": "Number of backlinks"
                            },
                            "totalIndexed": {
                              "type": "integer",
                              "description": "Number of indexed pages on Google"
                            },
                            "externalDomains": {
                              "type": "integer",
                              "description": "Number of domains to which the analyzed site links"
                            },
                            "noFollowLinks": {
                              "type": "integer",
                              "description": "Number of nofollow backlinks "
                            },
                            "doFollowLinks": {
                              "type": "integer",
                              "description": "Number of follow backlinks "
                            },
                            "referringIps": {
                              "type": "integer",
                              "description": "Number of referring IPs"
                            },
                            "referringSubnets": {
                              "type": "integer",
                              "description": "Number of referring subnets"
                            },
                            "trustRank": {
                              "type": "integer"
                            },
                            "citationRank": {
                              "type": "integer"
                            },
                            "domainZoneEdu": {
                              "type": "integer"
                            },
                            "domainZoneGov": {
                              "type": "integer"
                            },
                            "outlinksTotal": {
                              "type": "integer",
                              "description": "Number of links from the analyzed site"
                            },
                            "outlinksUnique": {
                              "type": "integer",
                              "description": "Number of unique links from the analyzed site"
                            },
                            "facebookLinks": {
                              "type": "integer"
                            },
                            "pinterestLinks": {
                              "type": "integer"
                            },
                            "linkedinLinks": {
                              "type": "integer"
                            },
                            "vkLinks": {
                              "type": "integer"
                            },
                            "typeText": {
                              "type": "integer",
                              "description": "Number of text backlinks"
                            },
                            "typeImg": {
                              "type": "integer",
                              "description": "Number of image backlinks"
                            },
                            "typeRedirect": {
                              "type": "integer",
                              "description": "Number of referring redirects"
                            },
                            "typeAlt": {
                              "type": "integer",
                              "description": "Number of links with the filled alt attribute"
                            },
                            "referringDomainsDynamics": {
                              "type": "integer",
                              "description": "Dynamics of referring domains"
                            },
                            "referringSubDomainsDynamics": {
                              "type": "integer",
                              "description": "Dynamics of referring subdomains"
                            },
                            "referringLinksDynamics": {
                              "type": "integer",
                              "description": "Dynamics of backlinks"
                            },
                            "totalIndexedDynamics": {
                              "type": "integer",
                              "description": "Dynamics of indexed pages on Google"
                            },
                            "externalDomainsDynamics": {
                              "type": "integer",
                              "description": "Dynamics of domains to which the analyzed site links"
                            },
                            "noFollowLinksDynamics": {
                              "type": "integer",
                              "description": "Dynamics of nofollow backlinks\n"
                            },
                            "doFollowLinksDynamics": {
                              "type": "integer",
                              "description": "Dynamics of follow backlinks "
                            },
                            "referringIpsDynamics": {
                              "type": "integer",
                              "description": "Dynamics of referring IPs"
                            },
                            "referringSubnetsDynamics": {
                              "type": "integer",
                              "description": "Dynamics of referring subnets"
                            },
                            "trustRankDynamics": {
                              "type": "integer"
                            },
                            "citationRankDynamics": {
                              "type": "integer"
                            },
                            "domainZoneEduDynamics": {
                              "type": "integer"
                            },
                            "domainZoneGovDynamics": {
                              "type": "integer"
                            },
                            "outlinksTotalDynamics": {
                              "type": "integer"
                            },
                            "outlinksUniqueDynamics": {
                              "type": "integer"
                            },
                            "facebookLinksDynamics": {
                              "type": "integer"
                            },
                            "pinterestLinksDynamics": {
                              "type": "integer"
                            },
                            "linkedinLinksDynamics": {
                              "type": "integer"
                            },
                            "vkLinksDynamics": {
                              "type": "integer"
                            },
                            "typeTextDynamics": {
                              "type": "integer",
                              "description": "Dynamics of text backlinks"
                            },
                            "typeImgDynamics": {
                              "type": "integer",
                              "description": "Dynamics of image backlinks"
                            },
                            "typeRedirectDynamics": {
                              "type": "integer",
                              "description": "Dynamics of referring redirects"
                            },
                            "typeAltDynamics": {
                              "type": "integer",
                              "description": "Dynamics of links with the filled alt attribute"
                            },
                            "threats": {
                              "type": "integer",
                              "description": "Number of referring malicious sites"
                            },
                            "threatsDynamics": {
                              "type": "integer",
                              "description": "Dynamics of referring malicious sites"
                            },
                            "mainPageLinks": {
                              "type": "integer",
                              "description": "Number of referring homepages"
                            },
                            "mainPageLinksDynamics": {
                              "type": "integer",
                              "description": "Dynamics of referring home pages"
                            },
                            "domainRank": {
                              "type": "integer",
                              "description": "Serpstat Domain Rank (SDR) — an indicator of domain authority"
                            }
                          },
                          "required": [
                            "referringDomains",
                            "referringSubDomains",
                            "referringLinks",
                            "totalIndexed",
                            "externalDomains",
                            "noFollowLinks",
                            "doFollowLinks",
                            "referringIps",
                            "referringSubnets",
                            "trustRank",
                            "citationRank",
                            "domainZoneEdu",
                            "domainZoneGov",
                            "outlinksTotal",
                            "outlinksUnique",
                            "facebookLinks",
                            "pinterestLinks",
                            "linkedinLinks",
                            "vkLinks",
                            "typeText",
                            "typeImg",
                            "typeRedirect",
                            "typeAlt",
                            "referringDomainsDynamics",
                            "referringSubDomainsDynamics",
                            "referringLinksDynamics",
                            "totalIndexedDynamics",
                            "externalDomainsDynamics",
                            "noFollowLinksDynamics",
                            "doFollowLinksDynamics",
                            "referringIpsDynamics",
                            "referringSubnetsDynamics",
                            "trustRankDynamics",
                            "citationRankDynamics",
                            "domainZoneEduDynamics",
                            "domainZoneGovDynamics",
                            "outlinksTotalDynamics",
                            "outlinksUniqueDynamics",
                            "facebookLinksDynamics",
                            "pinterestLinksDynamics",
                            "linkedinLinksDynamics",
                            "vkLinksDynamics",
                            "typeTextDynamics",
                            "typeImgDynamics",
                            "typeRedirectDynamics",
                            "typeAltDynamics",
                            "threats",
                            "threatsDynamics",
                            "mainPageLinks",
                            "mainPageLinksDynamics",
                            "domainRank"
                          ]
                        },
                        "summary_info": {
                          "type": "object",
                          "properties": {
                            "left_lines": {
                              "type": "integer",
                              "description": "Left credits of lines for your pricing plan"
                            },
                            "page": {
                              "type": "integer",
                              "description": "Page number"
                            },
                            "count": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Number of results in this answer"
                            },
                            "total": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Number of results for the request"
                            },
                            "sort": {
                              "type": "string",
                              "nullable": true,
                              "description": "Sorted by field"
                            },
                            "order": {
                              "type": "string",
                              "nullable": true,
                              "description": "Sorted order"
                            }
                          },
                          "required": [
                            "left_lines",
                            "page",
                            "count",
                            "total",
                            "sort",
                            "order"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "data": {
                          "referringDomains": 5842,
                          "referringSubDomains": 0,
                          "referringLinks": 376199,
                          "totalIndexed": 0,
                          "externalDomains": 3540,
                          "noFollowLinks": 240579,
                          "doFollowLinks": 135620,
                          "referringIps": 4510,
                          "referringSubnets": 2854,
                          "trustRank": 0,
                          "citationRank": 0,
                          "domainZoneEdu": 0,
                          "domainZoneGov": 0,
                          "outlinksTotal": 89260,
                          "outlinksUnique": 0,
                          "facebookLinks": 0,
                          "pinterestLinks": 0,
                          "linkedinLinks": 0,
                          "vkLinks": 0,
                          "typeText": 81760,
                          "typeImg": 294217,
                          "typeRedirect": 203,
                          "typeAlt": 0,
                          "referringDomainsDynamics": -8,
                          "referringSubDomainsDynamics": 0,
                          "referringLinksDynamics": -2658,
                          "totalIndexedDynamics": 0,
                          "externalDomainsDynamics": 0,
                          "noFollowLinksDynamics": -56,
                          "doFollowLinksDynamics": -2602,
                          "referringIpsDynamics": -11,
                          "referringSubnetsDynamics": -6,
                          "trustRankDynamics": 0,
                          "citationRankDynamics": 0,
                          "domainZoneEduDynamics": 0,
                          "domainZoneGovDynamics": 0,
                          "outlinksTotalDynamics": 0,
                          "outlinksUniqueDynamics": 0,
                          "facebookLinksDynamics": 0,
                          "pinterestLinksDynamics": 0,
                          "linkedinLinksDynamics": 0,
                          "vkLinksDynamics": 0,
                          "typeTextDynamics": -2649,
                          "typeImgDynamics": -5,
                          "typeRedirectDynamics": -4,
                          "typeAltDynamics": 0,
                          "threats": 1,
                          "threatsDynamics": 1,
                          "mainPageLinks": 265,
                          "mainPageLinksDynamics": -1,
                          "domainRank": 60
                        },
                        "summary_info": {
                          "left_lines": 971486,
                          "page": 1,
                          "count": null,
                          "total": null,
                          "sort": null,
                          "order": null
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": {
                        "data": {
                          "referringDomains": 5842,
                          "referringSubDomains": 0,
                          "referringLinks": 376199,
                          "totalIndexed": 0,
                          "externalDomains": 3540,
                          "noFollowLinks": 240579,
                          "doFollowLinks": 135620,
                          "referringIps": 4510,
                          "referringSubnets": 2854,
                          "trustRank": 0,
                          "citationRank": 0,
                          "domainZoneEdu": 0,
                          "domainZoneGov": 0,
                          "outlinksTotal": 89260,
                          "outlinksUnique": 0,
                          "facebookLinks": 0,
                          "pinterestLinks": 0,
                          "linkedinLinks": 0,
                          "vkLinks": 0,
                          "typeText": 81760,
                          "typeImg": 294217,
                          "typeRedirect": 203,
                          "typeAlt": 0,
                          "referringDomainsDynamics": -8,
                          "referringSubDomainsDynamics": 0,
                          "referringLinksDynamics": -2658,
                          "totalIndexedDynamics": 0,
                          "externalDomainsDynamics": 0,
                          "noFollowLinksDynamics": -56,
                          "doFollowLinksDynamics": -2602,
                          "referringIpsDynamics": -11,
                          "referringSubnetsDynamics": -6,
                          "trustRankDynamics": 0,
                          "citationRankDynamics": 0,
                          "domainZoneEduDynamics": 0,
                          "domainZoneGovDynamics": 0,
                          "outlinksTotalDynamics": 0,
                          "outlinksUniqueDynamics": 0,
                          "facebookLinksDynamics": 0,
                          "pinterestLinksDynamics": 0,
                          "linkedinLinksDynamics": 0,
                          "vkLinksDynamics": 0,
                          "typeTextDynamics": -2649,
                          "typeImgDynamics": -5,
                          "typeRedirectDynamics": -4,
                          "typeAltDynamics": 0,
                          "threats": 1,
                          "threatsDynamics": 1,
                          "mainPageLinks": 265,
                          "mainPageLinksDynamics": -1,
                          "domainRank": 60
                        },
                        "summary_info": {
                          "left_lines": 971486,
                          "page": 1,
                          "count": null,
                          "total": null,
                          "sort": null,
                          "order": null
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#SerpstatBacklinksProcedure.getSummaryV2": {
      "post": {
        "tags": [
          "Backlinks"
        ],
        "summary": "getSummaryV2",
        "description": "The `SerpstatBacklinksProcedure.getSummaryV2` method gives you general information about link profile: number of external links, referring IP addresses and subnets, number of referring domains and subdomains, domain authority indicator and types of referring links. \n\nThe data set is similar to the [Overview report](https://serpstat.com/backlinks/dashboard/) at Serpstat UI.\n\n<!-- theme: success -->\n> **Credits**: 5 API credits are spent per 1 request. \n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n*The data in this report and all the detailed reports can differ slightly due to the algorithm for quickly calculating summary data.*\n\nUse case: \n1. You want to understand what links your competitors have.\n2. Use `SerpstatBacklinksProcedure.getSummaryV2` to get information about the number of inbound links and referring domains;\n3. Determine which sites are linking to your competitors to identify potential link opportunities for your client\n",
        "operationId": "post-#SerpstatBacklinksProcedure.getSummaryV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `SerpstatBacklinksProcedure.getSummaryV2`",
                    "example": "SerpstatBacklinksProcedure.getSummaryV2"
                  },
                  "params": {
                    "type": "object",
                    "description": "Parameters of your request",
                    "properties": {
                      "query": {
                        "$ref": "#/components/schemas/domainQuery"
                      },
                      "searchType": {
                        "$ref": "#/components/schemas/searchType"
                      }
                    },
                    "required": [
                      "query"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method",
                  "params"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "1",
                    "method": "SerpstatBacklinksProcedure.getSummaryV2",
                    "params": {
                      "query": "facebook.com",
                      "searchType": "domain_with_subdomains"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getSummaryV2",
                    "params": {
                      "query": "serpstat.com",
                      "searchType": "domain"
                    }
                  }
                },
                "Example 2": {
                  "value": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getSummaryV2",
                    "params": {
                      "query": "serpstat.com",
                      "searchType": "domain_with_subdomains"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "sersptat_domain_rank": {
                              "type": "integer",
                              "description": "Serpstat Domain Rank (SDR) — an indicator of domain authority"
                            },
                            "referring_domains": {
                              "type": "integer",
                              "description": "Number of referring domains"
                            },
                            "referring_domains_change": {
                              "type": "integer",
                              "description": "Change in the number of links during the last 7 days"
                            },
                            "redirected_domains": {
                              "type": "integer",
                              "description": "Number of referring redirecting domains"
                            },
                            "referring_malicious_domains": {
                              "type": "integer",
                              "description": "Number of referring malicious domains"
                            },
                            "referring_malicious_domains_change": {
                              "type": "integer",
                              "description": "Change in the number of referrin malicious domains during the last 7 days"
                            },
                            "referring_ip_addresses": {
                              "type": "integer",
                              "description": "Number of referring IP-addresees"
                            },
                            "referring_ip_addresses_change": {
                              "type": "integer",
                              "description": "Change in the number of referring IP-addresees during the last 7 days"
                            },
                            "referring_subnets": {
                              "type": "integer",
                              "description": "Number of referring subnets"
                            },
                            "referring_subnets_change": {
                              "type": "integer",
                              "description": "Change in the number of referring subnets during the last 7 days"
                            },
                            "backlinks": {
                              "type": "integer",
                              "description": "Number of backlinks"
                            },
                            "backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of backlinks during the last 7 days"
                            },
                            "backlinks_from_mainpages": {
                              "type": "integer",
                              "description": "Number of backlinks from mainpages"
                            },
                            "backlinks_from_mainpages_change": {
                              "type": "integer",
                              "description": "Change in the number of backlinks from mainpages during the last 7 days"
                            },
                            "nofollow_backlinks": {
                              "type": "integer",
                              "description": "Number of nofollow backlinks"
                            },
                            "nofollow_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of nofollow backlinks during the last 7 days"
                            },
                            "dofollow_backlinks": {
                              "type": "integer",
                              "description": "Number of dofollow backlinks"
                            },
                            "dofollow_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of dofollow backlinks during the last 7 days"
                            },
                            "text_backlinks": {
                              "type": "integer",
                              "description": "Number of text backlinks"
                            },
                            "text_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of text backlinks during the last 7 days"
                            },
                            "image_backlinks": {
                              "type": "integer",
                              "description": "Number of image backlinks"
                            },
                            "image_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of image backlinks during the last 7 days"
                            },
                            "redirect_backlinks": {
                              "type": "integer",
                              "description": "Number of referring redirects"
                            },
                            "redirect_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of referring redirects during the last 7 days"
                            },
                            "canonical_backlinks": {
                              "type": "integer",
                              "description": "Number of backlinks rel=\"canonical\""
                            },
                            "canonical_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of backlinks rel=\"canonical\" during the last 7 days"
                            },
                            "alternate_backlinks": {
                              "type": "integer",
                              "description": "Number of backlinks from tag"
                            },
                            "alternate_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of backlinks from tag during the last 7 days"
                            },
                            "rss_backlinks": {
                              "type": "integer",
                              "description": "Number of RSS backlinks"
                            },
                            "rss_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of RSS backlinks during the last 7 days"
                            },
                            "frame_backlinks": {
                              "type": "integer",
                              "description": "Number of <frame> backlinks"
                            },
                            "frame_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of <frame> backlinks during the last 7 days"
                            },
                            "form_backlinks": {
                              "type": "integer",
                              "description": "Number of <form> backlinks"
                            },
                            "form_backlinks_change": {
                              "type": "integer",
                              "description": "Change in the number of <form> backlinks during the last 7 days"
                            },
                            "external_domains": {
                              "type": "integer",
                              "description": "Number of domains to which the analyzed domain links"
                            },
                            "external_domains_change": {
                              "type": "integer",
                              "description": "Change in the number of domains to which the analyzed domain links during the last 7 days"
                            },
                            "external_malicious_domains": {
                              "type": "integer",
                              "description": "Number of malicious domains to which the analyzed domain links"
                            },
                            "external_malicious_domains_change": {
                              "type": "integer",
                              "description": "Change in the number of malicious domains to which the analyzed domain links during the last 7 days"
                            },
                            "external_links": {
                              "type": "integer",
                              "description": "Number of links from the analyzed domain"
                            },
                            "external_links_change": {
                              "type": "integer",
                              "description": "Change in the number of links from the analyzed domain during the last 7 days"
                            }
                          },
                          "required": [
                            "sersptat_domain_rank",
                            "referring_domains",
                            "referring_domains_change",
                            "redirected_domains",
                            "referring_malicious_domains",
                            "referring_malicious_domains_change",
                            "referring_ip_addresses",
                            "referring_ip_addresses_change",
                            "referring_subnets",
                            "referring_subnets_change",
                            "backlinks",
                            "backlinks_change",
                            "backlinks_from_mainpages",
                            "backlinks_from_mainpages_change",
                            "nofollow_backlinks",
                            "nofollow_backlinks_change",
                            "dofollow_backlinks",
                            "dofollow_backlinks_change",
                            "text_backlinks",
                            "text_backlinks_change",
                            "image_backlinks",
                            "image_backlinks_change",
                            "redirect_backlinks",
                            "redirect_backlinks_change",
                            "canonical_backlinks",
                            "canonical_backlinks_change",
                            "alternate_backlinks",
                            "alternate_backlinks_change",
                            "rss_backlinks",
                            "rss_backlinks_change",
                            "frame_backlinks",
                            "frame_backlinks_change",
                            "form_backlinks",
                            "form_backlinks_change",
                            "external_domains",
                            "external_domains_change",
                            "external_malicious_domains",
                            "external_malicious_domains_change",
                            "external_links",
                            "external_links_change"
                          ]
                        },
                        "summary_info": {
                          "type": "object",
                          "properties": {
                            "left_lines": {
                              "type": "integer",
                              "description": "Left credits of API lines for your pricing plan"
                            }
                          },
                          "required": [
                            "left_lines"
                          ]
                        }
                      },
                      "required": [
                        "summary_info"
                      ]
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "summary_info": {
                          "sort": null,
                          "order": null,
                          "left_lines": 9999995
                        },
                        "data": {
                          "sersptat_domain_rank": 60,
                          "referring_domains": 5822,
                          "referring_domains_change": -15,
                          "redirected_domains": 0,
                          "referring_malicious_domains": 1,
                          "referring_malicious_domains_change": 0,
                          "referring_ip_addresses": 4515,
                          "referring_ip_addresses_change": -25,
                          "referring_subnets": 2876,
                          "referring_subnets_change": -15,
                          "backlinks": 397374,
                          "backlinks_change": -8641,
                          "backlinks_from_mainpages": 269,
                          "backlinks_from_mainpages_change": 1,
                          "nofollow_backlinks": 240386,
                          "nofollow_backlinks_change": -1564,
                          "dofollow_backlinks": 156988,
                          "dofollow_backlinks_change": -7077,
                          "text_backlinks": 83181,
                          "text_backlinks_change": -6963,
                          "image_backlinks": 294288,
                          "image_backlinks_change": 269,
                          "redirect_backlinks": 19849,
                          "redirect_backlinks_change": -9,
                          "canonical_backlinks": 43,
                          "canonical_backlinks_change": -48,
                          "alternate_backlinks": 0,
                          "alternate_backlinks_change": -32,
                          "rss_backlinks": 0,
                          "rss_backlinks_change": 0,
                          "frame_backlinks": 1,
                          "frame_backlinks_change": 0,
                          "form_backlinks": 12,
                          "form_backlinks_change": -1858,
                          "external_domains": 3539,
                          "external_domains_change": 0,
                          "external_malicious_domains": 0,
                          "external_malicious_domains_change": 0,
                          "external_links": 89259,
                          "external_links_change": 0
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": {
                        "summary_info": {
                          "sort": null,
                          "order": null,
                          "left_lines": 971496
                        },
                        "data": {
                          "sersptat_domain_rank": 60,
                          "referring_domains": 5842,
                          "referring_domains_change": -8,
                          "redirected_domains": 0,
                          "referring_malicious_domains": 1,
                          "referring_malicious_domains_change": 1,
                          "referring_ip_addresses": 4510,
                          "referring_ip_addresses_change": -11,
                          "referring_subnets": 2854,
                          "referring_subnets_change": -6,
                          "backlinks": 376199,
                          "backlinks_change": -2658,
                          "backlinks_from_mainpages": 265,
                          "backlinks_from_mainpages_change": -1,
                          "nofollow_backlinks": 240579,
                          "nofollow_backlinks_change": -56,
                          "dofollow_backlinks": 135620,
                          "dofollow_backlinks_change": -2602,
                          "text_backlinks": 81760,
                          "text_backlinks_change": -2649,
                          "image_backlinks": 294217,
                          "image_backlinks_change": -5,
                          "redirect_backlinks": 203,
                          "redirect_backlinks_change": -4,
                          "canonical_backlinks": 6,
                          "canonical_backlinks_change": 0,
                          "alternate_backlinks": 0,
                          "alternate_backlinks_change": 0,
                          "rss_backlinks": 0,
                          "rss_backlinks_change": 0,
                          "frame_backlinks": 1,
                          "frame_backlinks_change": 0,
                          "form_backlinks": 12,
                          "form_backlinks_change": 0,
                          "external_domains": 3540,
                          "external_domains_change": 0,
                          "external_malicious_domains": 0,
                          "external_malicious_domains_change": 0,
                          "external_links": 89260,
                          "external_links_change": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#SerpstatBacklinksProcedure.getAnchors": {
      "post": {
        "tags": [
          "Backlinks"
        ],
        "summary": "getAnchors",
        "description": "The `SerpstatBacklinksProcedure.getAnchors` method gives you a list of keywords used as anchors for backlinks of a site you analyze. The data set is similar to the [Anchors](https://serpstat.com/backlinks/anchors/) report. \n\n<!-- theme: success -->\n> **Credits**: This method charges 1 API credit per result returned. The total credits consumed equals the number of items in the `data` section of the response.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n",
        "operationId": "post-#SerpstatBacklinksProcedure.getAnchors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "description": "Should be exact `SerpstatBacklinksProcedure.getAnchors`"
                  },
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "$ref": "#/components/schemas/domainQuery"
                      },
                      "searchType": {
                        "$ref": "#/components/schemas/searchTypeUrl"
                      },
                      "anchor": {
                        "type": "string",
                        "description": "Anchor text"
                      },
                      "count": {
                        "type": "string",
                        "description": "Number of words in anchor"
                      },
                      "sort": {
                        "type": "string",
                        "enum": [
                          "total",
                          "refDomains",
                          "nofollow",
                          "anchor",
                          "lastupdate"
                        ],
                        "description": "Sorting by field\n\n* total - the total number of anchors\n* refDomains - number of referring domains\n* nofollow - anchor attributes\n* anchor - the anchor of the incoming link\n* lastupdate - date of the first detection",
                        "default": "lastupdate"
                      },
                      "order": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ],
                        "description": "Sorting order",
                        "default": "desc"
                      },
                      "page": {
                        "type": "integer",
                        "description": "A page number (number value)",
                        "minimum": 1,
                        "default": 1
                      },
                      "size": {
                        "type": "integer",
                        "description": "A number of results (number value)",
                        "minimum": 1,
                        "maximum": 1000,
                        "default": 100
                      },
                      "complexFilter": {
                        "type": "array",
                        "description": "Data filtering using complex conditions. The first-level array represents \"OR\" conditions, and nested arrays represent \"AND\" conditions.",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "field": {
                                    "type": "string",
                                    "enum": [
                                      "total",
                                      "refDomains",
                                      "nofollow",
                                      "anchor",
                                      "lastupdate"
                                    ],
                                    "description": "Filter parameter\n\n* **total** - the total number of anchors\n* **refDomains** - number of referring domains\n* **nofollow** - anchor attributes\n* **anchor** - the anchor of the incoming link\n* **lastupdate** - link detection date. Value format: `DD.MM.YYYY` (01.01.2001)"
                                  },
                                  "compareType": {
                                    "type": "string",
                                    "enum": [
                                      "gt",
                                      "lt",
                                      "gte",
                                      "lte",
                                      "eq",
                                      "neq",
                                      "between",
                                      "contains",
                                      "notContains",
                                      "startsWith",
                                      "endsWith"
                                    ],
                                    "description": "Comparison type\n\n* **gt** - greater than (number value)\n* **lt** - less than (number value)\n* **gte** - greater than or equal (number value)\n* **lte** - less than or equal (number value)\n* **eq** - exact match (number or text value)\n* **neq** - does not meet the requirement (number or text value)\n* **between** - between (two number values, from .. and to ..)\n* **contains** - contains (text value)\n* **notContains** - does not contain (text value)\n* **startsWith** - starts with (text value)\n* **endsWith** - ends with (text value)"
                                  },
                                  "value": {
                                    "type": "array",
                                    "description": "Value for filtering",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "integer"
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "additional_filters": {
                                    "type": "string",
                                    "enum": [
                                      "no_subdomains"
                                    ],
                                    "description": "Additional quick filters\n\n* **no_subdomains** - without links from subdomains of the analyzed domain"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "required": [
                      "query",
                      "searchType"
                    ]
                  }
                },
                "required": [
                  "method",
                  "id"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getAnchors",
                    "params": {
                      "query": "serpstat.com",
                      "searchType": "domain_with_subdomains",
                      "anchor": "serpstat",
                      "count": "1",
                      "sort": "anchor",
                      "order": "desc",
                      "page": 1,
                      "size": 2,
                      "complexFilter": [
                        [
                          {
                            "field": "anchor",
                            "compareType": "contains",
                            "value": [
                              "serpstat"
                            ]
                          },
                          {
                            "field": "total",
                            "compareType": "gt",
                            "value": [
                              1
                            ]
                          },
                          {
                            "field": "noFollow",
                            "compareType": "gte",
                            "value": [
                              1
                            ]
                          },
                          {
                            "additional_filters": "no_subdomains"
                          }
                        ]
                      ]
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getAnchors",
                    "params": {
                      "query": "serpstat.com",
                      "searchType": "domain_with_subdomains",
                      "anchor": "serpstat",
                      "count": "1",
                      "sort": "anchor",
                      "order": "desc",
                      "page": 1,
                      "size": 2,
                      "complexFilter": [
                        [
                          {
                            "field": "anchor",
                            "compareType": "contains",
                            "value": [
                              "serpstat"
                            ]
                          },
                          {
                            "field": "total",
                            "compareType": "gt",
                            "value": [
                              1
                            ]
                          },
                          {
                            "field": "noFollow",
                            "compareType": "gte",
                            "value": [
                              1
                            ]
                          },
                          {
                            "additional_filters": "no_subdomains"
                          }
                        ]
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "anchor": {
                                "type": "string",
                                "description": "The anchor text"
                              },
                              "refDomains": {
                                "type": "integer",
                                "description": "The number of referring domains with this anchor"
                              },
                              "total": {
                                "type": "integer",
                                "description": "The number of backlinks with this anchor"
                              },
                              "noFollow": {
                                "type": "integer",
                                "description": "The number of nofollow backlinks with this anchor"
                              }
                            },
                            "required": [
                              "anchor",
                              "refDomains",
                              "total",
                              "noFollow"
                            ]
                          }
                        },
                        "summary_info": {
                          "type": "object",
                          "properties": {
                            "left_lines": {
                              "type": "integer",
                              "description": "Left credits of lines for your pricing plan"
                            },
                            "page": {
                              "type": "integer",
                              "description": "Page number"
                            },
                            "count": {
                              "type": "integer",
                              "description": "Number of results in this answer"
                            },
                            "total": {
                              "type": "integer",
                              "description": "Number of results for the reques"
                            },
                            "sort": {
                              "type": "string",
                              "description": "Sorted by field"
                            },
                            "order": {
                              "type": "string",
                              "enum": [
                                "asc",
                                "desc"
                              ],
                              "description": "Sorted order"
                            }
                          },
                          "required": [
                            "left_lines",
                            "page",
                            "count",
                            "total",
                            "sort",
                            "order"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "anchor": "www.serpstat.com",
                            "refDomains": 10,
                            "total": 11,
                            "noFollow": 1
                          },
                          {
                            "anchor": "serpstat.com/ru",
                            "refDomains": 4,
                            "total": 6,
                            "noFollow": 3
                          }
                        ],
                        "summary_info": {
                          "left_lines": 972983,
                          "page": 1,
                          "count": 2,
                          "total": 64,
                          "sort": "anchor",
                          "order": "DESC"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "anchor": "www.serpstat.com",
                            "refDomains": 10,
                            "total": 11,
                            "noFollow": 1
                          },
                          {
                            "anchor": "serpstat.com/ru",
                            "refDomains": 4,
                            "total": 6,
                            "noFollow": 3
                          }
                        ],
                        "summary_info": {
                          "left_lines": 972983,
                          "page": 1,
                          "count": 2,
                          "total": 64,
                          "sort": "anchor",
                          "order": "DESC"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#SerpstatBacklinksProcedure.getTopAnchors": {
      "post": {
        "tags": [
          "Backlinks"
        ],
        "summary": "getTopAnchors",
        "description": "`SerpstatBacklinksProcedure.getTopAnchors` method returns information about the TOP-10 anchors, the number of backlinks with these anchors, and the number of domains on which the referring pages are located. The data set is similar to the \"TOP anchor backlinks by popularity\" table from the [Overview report](https://serpstat.com/backlinks/dashboard/). \n\n<!-- theme: success -->\n> **Credits**: 1 credit per request.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n\nUse case:\n1. With the SerpstatBacklinksProcedure.getTopAnchors method, identify the most popular anchors of competitor sites and use the same anchors to promote your site.",
        "operationId": "post-#SerpstatBacklinksProcedure.getTopAnchors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "should be exact `SerpstatBacklinksProcedure.getTopAnchors`",
                    "example": "SerpstatBacklinksProcedure.getTopAnchors"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "$ref": "#/components/schemas/domainQuery"
                      },
                      "searchType": {
                        "$ref": "#/components/schemas/searchType"
                      }
                    },
                    "required": [
                      "query"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method",
                  "params"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "1",
                    "method": "SerpstatBacklinksProcedure.getTopAnchors",
                    "params": {
                      "query": "facebook.com",
                      "searchType": "domain_with_subdomains"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getTopAnchors",
                    "params": {
                      "query": "facebook.com",
                      "searchType": "domain_with_subdomains"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "description": "Object, which contains the answer",
                      "properties": {
                        "data": {
                          "type": "array",
                          "description": "Data object contains info about anchors",
                          "items": {
                            "type": "object",
                            "properties": {
                              "anchor": {
                                "type": "string",
                                "description": "Anchor text of backlinks"
                              },
                              "backlinks_count": {
                                "type": "integer",
                                "description": "Backlinks count with this anchor"
                              },
                              "domains_count": {
                                "type": "integer",
                                "description": "Unique domains with backlinks with this anchor"
                              }
                            },
                            "required": [
                              "anchor",
                              "backlinks_count",
                              "domains_count"
                            ]
                          }
                        },
                        "summary_info": {
                          "type": "object",
                          "description": "Contains an object with data about left credits and additional data",
                          "properties": {
                            "sort": {
                              "type": "string",
                              "description": "Sorted by field"
                            },
                            "order": {
                              "type": "string",
                              "description": "Sorted order"
                            },
                            "left_lines": {
                              "type": "integer",
                              "description": "Left api credits"
                            },
                            "referring_domains": {
                              "type": "integer",
                              "description": "Total qty of reffering domains for requested domain or domain with all subdomains"
                            },
                            "backlinks": {
                              "type": "integer",
                              "description": "Total qty of backlinks for requested domain or domain with all subdomains"
                            },
                            "unique_anchors": {
                              "type": "integer",
                              "description": "Total qty of unique backlinks anchors"
                            }
                          },
                          "required": [
                            "sort",
                            "order",
                            "left_lines",
                            "referring_domains",
                            "backlinks",
                            "unique_anchors"
                          ]
                        }
                      },
                      "required": [
                        "data",
                        "summary_info"
                      ]
                    }
                  },
                  "required": [
                    "result"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "summary_info": {
                          "sort": "referring_domains",
                          "order": "desc",
                          "left_lines": 9999887,
                          "referring_domains": 33399805,
                          "backlinks": 16307137490,
                          "unique_anchors": 75739546
                        },
                        "data": [
                          {
                            "anchor": "",
                            "backlinks_count": 7914025436,
                            "domains_count": 17592749
                          },
                          {
                            "anchor": "Facebook",
                            "backlinks_count": 3319036490,
                            "domains_count": 10189878
                          },
                          {
                            "anchor": "facebook",
                            "backlinks_count": 434658846,
                            "domains_count": 1099827
                          },
                          {
                            "anchor": "Facebook-f",
                            "backlinks_count": 102491202,
                            "domains_count": 537848
                          },
                          {
                            "anchor": "https://www.facebook.com/about/privacy/",
                            "backlinks_count": 1044285,
                            "domains_count": 496524
                          },
                          {
                            "anchor": "Share",
                            "backlinks_count": 127086911,
                            "domains_count": 403456
                          },
                          {
                            "anchor": "Share on Facebook",
                            "backlinks_count": 150061594,
                            "domains_count": 331769
                          },
                          {
                            "anchor": "Facebook page",
                            "backlinks_count": 7483689,
                            "domains_count": 260014
                          },
                          {
                            "anchor": "Follow",
                            "backlinks_count": 46277755,
                            "domains_count": 258760
                          },
                          {
                            "anchor": "FACEBOOK",
                            "backlinks_count": 49796933,
                            "domains_count": 232263
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#SerpstatBacklinksProcedure.getIntersect": {
      "post": {
        "tags": [
          "Backlinks"
        ],
        "summary": "getIntersect",
        "description": "The `SerpstatBacklinksProcedure.getIntersect` method gives you a list of backlinks from intersecting donors to the analyzed domain. The data set is similar to the [Links intersect report](https://serpstat.com/backlinks/intersect/).\n\n<!-- theme: success -->\n> **Credits**: This method charges 1 API credit per result returned. The total credits consumed equals the number of items in the `data` section of the response.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\nUse case:\n1. With the `SerpstatBacklinksProcedure.getIntersect` method, check what domains are referring to the analyzed domain and its competitors.\n",
        "operationId": "post-#SerpstatBacklinksProcedure.getIntersect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `SerpstatBacklinksProcedure.getIntersect`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "$ref": "#/components/schemas/domainQuery"
                      },
                      "intersect": {
                        "type": "array",
                        "description": "Domains for comparison\n\nExample: `[\"klubok.com\", \"issaplus.com\"]`",
                        "items": {
                          "type": "string"
                        }
                      },
                      "sort": {
                        "type": "string",
                        "enum": [
                          "domain_rank",
                          "links_count1",
                          "links_count2",
                          "links_count3"
                        ],
                        "description": "Sorting by field\n\n* **domain_rank** - SDR, an indicator of domain authority\n* **links_count1** - number of links for domain # 1\n* **links_count2** - number of links for domain # 2\n* **links_count3** - number of links for domain # 3",
                        "default": "domain_rank"
                      },
                      "order": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ],
                        "description": "Sorting order",
                        "default": "desc"
                      },
                      "page": {
                        "type": "integer",
                        "description": "A page number (number value)",
                        "minimum": 1,
                        "default": 1
                      },
                      "size": {
                        "type": "integer",
                        "description": "A number of results (number value)",
                        "minimum": 1,
                        "maximum": 1000,
                        "default": 100
                      },
                      "complexFilter": {
                        "type": "array",
                        "description": "Data filtering using complex conditions. The first-level array represents \"OR\" conditions, and nested arrays represent \"AND\" conditions.",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "enum": [
                                  "domain_rank",
                                  "links_count1",
                                  "links_count2",
                                  "links_count3"
                                ],
                                "description": "Filter parameter\n\n* **domain_rank** - SDR (Serpstat Domain Rank), an indicator of domain authority\n* **links_count1** - number of links for domain # 1\n* **links_count2** - number of links for domain # 2\n* **links_count3** - number of links for domain # 3"
                              },
                              "compareType": {
                                "type": "string",
                                "enum": [
                                  "gt",
                                  "lt",
                                  "gte",
                                  "lte",
                                  "eq",
                                  "neq",
                                  "between",
                                  "contains",
                                  "notContains",
                                  "startsWith",
                                  "endsWith"
                                ],
                                "description": "Comparisoin type\n\n* **gt** - greater than (number value)\n* **lt** - less than (number value)\n* **gte** - greater than or equal (number value)\n* **lte** - less than or equal (number value)\n* **eq** - exact match (number or text value)\n* **neq** - does not meet the requirement (number or text value)\n* **between** - between (number value)\n* **contains** - contains (text value)\n* **notContains** - does not contain (text value)\n* **startsWith** - starts with (text value)\n* **endsWith** - ends with (text value)"
                              },
                              "value": {
                                "type": "array",
                                "description": "Value for filtering",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "string"
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "query",
                      "intersect"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getIntersect",
                    "params": {
                      "query": "gepur.com",
                      "sort": "links_count1",
                      "order": "desc",
                      "page": 1,
                      "size": 2,
                      "intersect": [
                        "klubok.com",
                        "issaplus.com"
                      ],
                      "complexFilter": {
                        "type": "array",
                        "description": "Data filtering using complex conditions. The first-level array represents 'OR' conditions, and nested arrays represent 'AND' conditions.",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "description": "Filter parameter\n\n* total - the total number of anchors\n* refDomains - number of referring domains\n* nofollow - anchor attributes\n* anchor - the anchor of the incoming link\n* lastupdate - link detection date. Value format: `DD.MM.YYYY` (01.01.2001)",
                                "enum": [
                                  "total",
                                  "refDomains",
                                  "nofollow",
                                  "anchor",
                                  "lastupdate"
                                ]
                              },
                              "compareType": {
                                "type": "string",
                                "description": "Comparison type\n\n* gt - greater than (number value)\n* lt - less than (number value)\n* gte - greater than or equal (number value)\n* lte - less than or equal (number value)\n* eq - exact match (number or text value)\n* neq - does not meet the requirement (number or text value)\n* between - between (number value)\n* contains - contains (text value)\n* notContains - does not contain (text value)\n* startsWith - starts with (text value)\n* endsWith - ends with (text value)",
                                "enum": [
                                  "gt",
                                  "lt",
                                  "gte",
                                  "lte",
                                  "eq",
                                  "neq",
                                  "between",
                                  "contains",
                                  "notContains",
                                  "startsWith",
                                  "endsWith"
                                ]
                              },
                              "value": {
                                "type": [
                                  "array"
                                ],
                                "description": "Value for filtering. Can be an integer or a string.",
                                "items": {
                                  "type": [
                                    "integer",
                                    "string"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getIntersect",
                    "params": {
                      "query": "gepur.com",
                      "sort": "links_count1",
                      "order": "desc",
                      "page": 1,
                      "size": 2,
                      "intersect": [
                        "klubok.com",
                        "issaplus.com"
                      ],
                      "complexFilter": [
                        [
                          {
                            "field": "domain_rank",
                            "compareType": "gte",
                            "value": [
                              1
                            ]
                          },
                          {
                            "field": "links_count1",
                            "compareType": "gte",
                            "value": [
                              1
                            ]
                          },
                          {
                            "field": "links_count2",
                            "compareType": "gte",
                            "value": [
                              1
                            ]
                          }
                        ]
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Domain": {
                                "type": "string",
                                "description": "Analyzed domain"
                              },
                              "SDR": {
                                "type": "integer",
                                "description": "Serpstat Domain Rank"
                              },
                              "Links count for domain #1 {domain_name}": {
                                "type": "integer",
                                "description": "Number of links to domain #1"
                              },
                              "Links count for domain #2 {domain_name}": {
                                "type": "integer",
                                "description": "Number of links to domain #2"
                              },
                              "Links count for domain #3 {domain_name}": {
                                "type": "integer",
                                "description": "Number of links to domain #3"
                              }
                            },
                            "required": [
                              "Domain",
                              "SDR",
                              "Links count for domain #1 {domain_name}",
                              "Links count for domain #2 {domain_name}",
                              "Links count for domain #3 {domain_name}"
                            ]
                          }
                        },
                        "summary_info": {
                          "type": "object",
                          "properties": {
                            "left_lines": {
                              "type": "integer",
                              "description": "Left credits of lines for your pricing plan"
                            },
                            "page": {
                              "type": "integer",
                              "description": "Page number"
                            },
                            "count": {
                              "type": "integer",
                              "description": "Number of results in this answer"
                            },
                            "total": {
                              "type": "integer",
                              "description": "Number of results for the request"
                            },
                            "sort": {
                              "type": "string",
                              "description": "Sorted by field"
                            },
                            "order": {
                              "type": "string",
                              "enum": [
                                "asc",
                                "desc"
                              ],
                              "description": "Sorted order"
                            }
                          },
                          "required": [
                            "left_lines",
                            "page",
                            "count",
                            "total",
                            "sort",
                            "order"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "Domain": "znaxarenko.mybb.ru",
                            "SDR": 5,
                            "Links count for domain #1 gepur.com": 177,
                            "Links count for domain #2 klubok.com": 3,
                            "Links count for domain #3 issaplus.com": 0
                          },
                          {
                            "Domain": "speshka.com",
                            "SDR": 30,
                            "Links count for domain #1 gepur.com": 61,
                            "Links count for domain #2 klubok.com": 1,
                            "Links count for domain #3 issaplus.com": 92
                          }
                        ],
                        "summary_info": {
                          "left_lines": 972852,
                          "page": 1,
                          "count": 2,
                          "total": 233,
                          "sort": "links_count1",
                          "order": "DESC"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "Domain": "znaxarenko.mybb.ru",
                            "SDR": 5,
                            "Links count for domain #1 gepur.com": 177,
                            "Links count for domain #2 klubok.com": 3,
                            "Links count for domain #3 issaplus.com": 0
                          },
                          {
                            "Domain": "speshka.com",
                            "SDR": 30,
                            "Links count for domain #1 gepur.com": 61,
                            "Links count for domain #2 klubok.com": 1,
                            "Links count for domain #3 issaplus.com": 92
                          }
                        ],
                        "summary_info": {
                          "left_lines": 972852,
                          "page": 1,
                          "count": 2,
                          "total": 233,
                          "sort": "links_count1",
                          "order": "DESC"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#SerpstatBacklinksProcedure.getIntersectSummary": {
      "post": {
        "tags": [
          "Backlinks"
        ],
        "summary": "getIntersectSummary",
        "description": "The `SerpstatBacklinksProcedure.getIntersectSummary` method gives you a list of the number of common domains (donors) that refer to the analyzed domain. The data set is similar to the [Links intersect report](https://serpstat.com/backlinks/intersect/).\n\n<!-- theme: success -->\n> **Credits**: This method charges 1 API credit per result returned. The total credits consumed equals the number of items in the `data` section of the response.\n\n<!-- theme: info -->\n> **Note**: Starting June 15, 2025, this method will consume 1 API credit even when no data is available for the requested query. Previously, no credits were consumed for empty results.\n\n\nUse case:\n1. With the `SerpstatBacklinksProcedure.getIntersectSummary`, you can compare the link mass of several domains, and find common and unique donors for each site.",
        "operationId": "post-#SerpstatBacklinksProcedure.getIntersectSummary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `SerpstatBacklinksProcedure.getIntersectSummary`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "$ref": "#/components/schemas/domainQuery"
                      },
                      "intersect": {
                        "type": "array",
                        "description": "Domains to find common donors with\n\nExample: `[\"klubok.com\", \"issaplus.com\"]`",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "query",
                      "intersect"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getIntersectSummary",
                    "params": {
                      "query": "gepur.com",
                      "intersect": [
                        "klubok.com",
                        "issaplus.com"
                      ]
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "SerpstatBacklinksProcedure.getIntersectSummary",
                    "params": {
                      "query": "gepur.com",
                      "intersect": [
                        "klubok.com",
                        "issaplus.com"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
[...]
