{
  "openapi": "3.0.0",
  "info": {
    "version": "4.0",
    "title": "Rank Tracker API",
    "description": "### Current version: 4\n\nhttps://api.serpstat.com/v4 — Endpoint URL, through which all requests should be processed.\n\n### API protocol\n\n- Our API protocol is [**JSON-RPC 2.0**](https://www.jsonrpc.org/specification).\n\n### Requests\n\n- All requests should be sent via **POST** method.\n- All request parameters must be set via POST request body in **JSON** format.\n- Each request should contain a `method` name parameter corresponding to the API method (case-sensitive).\n\n### Authentication\n\n- Tokens are used for authentication. Create a token on [your profile page](https://serpstat.com/users/profile/). \n- `token` is required for all API requests.\n- Api token is available for almost paid and trial plans that have API feature enabled.\n\n### Pagination\n\nFor pagination, use the parameters:\n- `size`: number of results per page (default 100, maximum 1000);\n- `page`: page number (default is 1st page).\n\nPlease note: not all methods are supporting pagination.\n\n\n### Filters\n\nFilters can be applied to each method, most of them are specific for the method you used.\n`filters` object are optional for most methods.\n\n### Responses\n\n- All responses are in **JSON** format.\n- All responses have 200 HTTP status, even erroneous ones. In case of error, the response contains an `error` object instead of `result`.\n\n\n### API credits (limits)\n\nWhen calculating the used credits, your pricing plan's API requests are taken into account, including identical requests and requests for export.\n\n### Request rates\n\nMost subscription plans are limited to 1 request per second.\nTop-tier plans allow up to 10 requests per second.\nFor higher rate limits, contact our sales team.\nExceeding your rate limit will result in an error response.\n\n### Max results\n\nThe maximum number of results returned by each API method is limited up to 60,000 rows.\n",
    "termsOfService": "https://serpstat.com/users/license-agreement/",
    "contact": {
      "url": "https://serpstat.com",
      "email": "support@serpstat.com",
      "name": "Support"
    },
    "license": {
      "url": "https://creativecommons.org/licenses/by/4.0/",
      "name": "CC BY 4.0"
    }
  },
  "servers": [
    {
      "url": "https://api.serpstat.com/v4",
      "description": "Default server"
    }
  ],
  "paths": {
    "/#RtApiSearchEngineProcedure.getProjectStatus": {
      "post": {
        "tags": [
          "Rank Tracker"
        ],
        "summary": "getProjectStatus",
        "description": "The `RtApiSearchEngineProcedure.getProjectStatus` method returns the current status of the position update process (parsing) for the given project and region.\r\nIf the project is in parsing status, you should wait for its completion to get accurate results.\r\n\r\n<!-- theme: success -->\r\n> **Credits**: This method doesn't spent API credits.",
        "operationId": "post-RtApiSearchEngineProcedure.getProjectStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `RtApiSearchEngineProcedure.getProjectStatus`",
                    "example": "RtApiSearchEngineProcedure.getProjectStatus"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "projectId": {
                        "type": "integer",
                        "description": "Project identifier in numeric representation"
                      },
                      "regionId": {
                        "type": "integer",
                        "description": "Search region id. [Reference](https://docs.google.com/spreadsheets/d/1LUDtm-L1qWMVpmWuN-nvDyYFfQtfiXUh5LIHE8sjs0k/edit?gid=75443986#gid=75443986)"
                      }
                    },
                    "required": [
                      "projectId",
                      "regionId"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method",
                  "params"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": 1,
                    "method": "RtApiProjectProcedure.getProjectStatus",
                    "params": {
                      "projectId": 1257794,
                      "regionId": 389715
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "135",
                    "method": "RtApiProjectProcedure.getProjectStatus",
                    "params": {
                      "projectId": 1257794,
                      "regionId": 389715
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "projectId": {
                          "type": "integer",
                          "description": "Number value of project"
                        },
                        "regionId": {
                          "type": "integer",
                          "description": "Number [value of region](https://docs.google.com/spreadsheets/d/1LUDtm-L1qWMVpmWuN-nvDyYFfQtfiXUh5LIHE8sjs0k/edit?gid=75443986#gid=75443986)"
                        },
                        "parsing": {
                          "type": "boolean",
                          "description": "Project parsing status:  `true` - project is currently parsing,  `false` - all ok, data is ready!\r\n"
                        }
                      },
                      "required": [
                        "projectId",
                        "regionId",
                        "parsing"
                      ]
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "1",
                      "result": {
                        "projectId": 1257794,
                        "regionId": 389715,
                        "parsing": false
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "1",
                      "result": {
                        "projectId": 1257794,
                        "regionId": 389715,
                        "parsing": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#RtApiSerpResultsProcedure.getUrlsSerpResultsHistory": {
      "post": {
        "tags": [
          "Rank Tracker"
        ],
        "summary": "getUrlsSerpResultsHistory",
        "description": "The `RtApiSerpResultsProcedure.getUrlsSerpResultsHistory` method returns the ranking history of URLs for project keywords in the required region.\r\nThe data set is similar to the Rank tracker - SERP history.\r\n <!-- theme: success -->\r\n> **Credits**: This method does not spend API credits.",
        "operationId": "post-#RtApiSerpResultsProcedure.getUrlsSerpResultsHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `RtApiSerpResultsProcedure.getUrlsSerpResultsHistory`",
                    "default": "RtApiSerpResultsProcedure.getUrlsSerpResultsHistory",
                    "example": "RtApiSerpResultsProcedure.getUrlsSerpResultsHistory"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "projectId": {
                        "type": "integer",
                        "description": "Project ID",
                        "example": 1226819
                      },
                      "projectRegionId": {
                        "type": "integer",
                        "description": "Region ID",
                        "example": 372691
                      },
                      "page": {
                        "type": "integer",
                        "description": "Page number",
                        "default": 1,
                        "example": 1
                      },
                      "pageSize": {
                        "type": "integer",
                        "description": "Number of results per page.\r\n\r\nPossible values: `20`, `50`, `100`, `200`, `500`",
                        "default": 100,
                        "example": 50
                      },
                      "dateFrom": {
                        "type": "string",
                        "description": "Start date of the period for which the data is required",
                        "format": "date",
                        "pattern": "^\\d{4}\\-(0[1-9]|1[012])\\-(0[1-9]|[12][0-9]|3[01])$",
                        "example": "2025-02-09"
                      },
                      "dateTo": {
                        "type": "string",
                        "description": "End date of the period for which the data is required",
                        "format": "date",
                        "pattern": "^\\d{4}\\-(0[1-9]|1[012])\\-(0[1-9]|[12][0-9]|3[01])$",
                        "example": "2025-02-10"
                      },
                      "sort": {
                        "type": "string",
                        "enum": [
                          "keyword",
                          "date"
                        ],
                        "description": "Sorting by parameters.\r\n\r\n`date` — sorting by date,\r\n`keyword` — sorting alphabetically",
                        "default": "keyword",
                        "example": "date"
                      },
                      "order": {
                        "type": "string",
                        "enum": [
                          "desc",
                          "asc"
                        ],
                        "description": "Sorting order.\r\n\r\n`desc` — descending order,\r\n`asc` — ascending order",
                        "default": "desc",
                        "example": "desc"
                      },
                      "keywords": {
                        "type": "array",
                        "description": "Keywords for which pages and positions are required.\r\n\r\nThe maximum number of keywords that can be filtered is 1000.",
                        "items": {
                          "type": "string",
                          "example": "overwatch, wow name characters"
                        }
                      },
                      "withTags": {
                        "type": "boolean",
                        "description": "Display tags for the keywords.\r\n\r\n`true` - show tags for the keywords,\r\n\r\n`false` - don't show tags for the keywords.",
                        "default": false
                      },
                      "domain": {
                        "type": "string",
                        "description": "Domain or page for which the data is required.\r\n\r\nData format:\r\n`domain.com` — domain,\r\n`https://domain.com/` — URL",
                        "example": "https://us.shop.battle.net/ru-ru/product/overwatch"
                      }
                    },
                    "required": [
                      "projectId",
                      "projectRegionId",
                      "page"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method",
                  "params"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": 123,
                    "method": "RtApiSerpResultsProcedure.getUrlsSerpResultsHistory",
                    "params": {
                      "projectId": 1226819,
                      "projectRegionId": 372691,
                      "page": 1,
                      "pageSize": 500,
                      "dateFrom": "2025-02-09",
                      "dateTo": "2025-02-10",
                      "sort": "date",
                      "order": "desc",
                      "keywords": [
                        "overwatch",
                        "wow name characters"
                      ],
                      "withTags": true,
                      "domain": "https://us.shop.battle.net/ru-ru/product/overwatch"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "RtApiSerpResultsProcedure.getUrlsSerpResultsHistory",
                    "params": {
                      "projectId": 1226819,
                      "projectRegionId": 372691,
                      "page": 1,
                      "pageSize": 100,
                      "dateFrom": "2025-02-09",
                      "dateTo": "2025-02-10",
                      "sort": "keyword",
                      "order": "desc",
                      "keywords": [
                        "overwatch",
                        "wow name characters"
                      ],
                      "withTags": true,
                      "domain": "https://us.shop.battle.net/ru-ru/product/overwatch"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "result": {
                      "type": "object",
                      "description": "Contains the main response data",
                      "properties": {
                        "data": {
                          "type": "object",
                          "description": "Includes project-specific information and keyword details",
                          "properties": {
                            "projectId": {
                              "type": "integer",
                              "description": "Project ID"
                            },
                            "projectRegionId": {
                              "type": "integer",
                              "description": "Region ID\r\n"
                            },
                            "domain": {
                              "type": "string",
                              "description": "Domain or URL for which the search results are requested"
                            },
                            "keywords": {
                              "type": "array",
                              "description": "A list of analyzed keywords",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "keyword": {
                                    "type": "string",
                                    "description": "The keyword being analyzed"
                                  },
                                  "frequency": {
                                    "type": "integer",
                                    "description": "Search volume per month in the selected country or city"
                                  },
                                  "expectedUrl": {
                                    "type": "string",
                                    "description": "URL that is optimized for a specific keyword (if it was added in the project)"
                                  },
                                  "history": {
                                    "type": "array",
                                    "description": "Historical ranking data for the keyword.\r\n",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "date": {
                                          "type": "string",
                                          "description": "The date of the SERP data in `YYYY-MM-DD` format."
                                        },
                                        "positions": {
                                          "type": "array",
                                          "description": "A list of URLs and their rankings for the specified date",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "position": {
                                                "type": "integer",
                                                "description": "The rank position in the search results."
                                              },
                                              "url": {
                                                "type": "string",
                                                "description": "The URL ranking at the specified position"
                                              }
                                            },
                                            "required": [
                                              "position",
                                              "url"
                                            ]
                                          }
                                        }
                                      },
                                      "required": [
                                        "date",
                                        "positions"
                                      ]
                                    }
                                  },
                                  "tags": {
                                    "type": "array",
                                    "description": "A list of tags assigned to the keyword",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "The unique ID of the tag."
                                        },
                                        "value": {
                                          "type": "string",
                                          "description": "The name of the tag."
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "value"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "keyword",
                                  "frequency",
                                  "expectedUrl",
                                  "history",
                                  "tags"
                                ]
                              }
                            }
                          },
                          "required": [
                            "projectId",
                            "projectRegionId",
                            "domain",
                            "keywords"
                          ]
                        },
                        "summary_info": {
                          "type": "object",
                          "description": "Summary data block\r\n",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "The current page number of the response.\r\n"
                            },
                            "page_total": {
                              "type": "integer",
                              "description": "The total number of pages available."
                            },
                            "count": {
                              "type": "integer",
                              "description": "The number of results returned on the current page."
                            },
                            "total": {
                              "type": "integer",
                              "description": "The total number of results available for the query."
                            },
                            "sort": {
                              "type": "string",
                              "description": "Sorting by parameters\r\n"
                            },
                            "order": {
                              "type": "string",
                              "description": "Sorting order\r\n"
                            }
                          },
                          "required": [
                            "page",
                            "page_total",
                            "count",
                            "total",
                            "sort",
                            "order"
                          ]
                        },
                        "spent_limits": {
                          "type": "integer",
                          "description": "The number of API credits consumed by this request. **This method does not spend API credits.**"
                        }
                      },
                      "required": [
                        "data",
                        "summary_info",
                        "spent_limits"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "result"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "data": {
                          "projectId": 1226819,
                          "projectRegionId": 372691,
                          "domain": "https://us.shop.battle.net/ru-ru/product/overwatch",
                          "keywords": [
                            {
                              "keyword": "wow name characters",
                              "frequency": 10,
                              "expectedUrl": "",
                              "history": [
                                {
                                  "date": "2025-02-09",
                                  "positions": []
                                },
                                {
                                  "date": "2025-02-10",
                                  "positions": []
                                }
                              ],
                              "tags": []
                            },
                            {
                              "keyword": "overwatch",
                              "frequency": 6600,
                              "expectedUrl": "https://us.shop.battle.net/ru-ru/product/overwatch",
                              "history": [
                                {
                                  "date": "2025-02-09",
                                  "positions": [
                                    {
                                      "position": 5,
                                      "url": "https://us.shop.battle.net/ru-ru/product/overwatch"
                                    }
                                  ]
                                },
                                {
                                  "date": "2025-02-10",
                                  "positions": [
                                    {
                                      "position": 5,
                                      "url": "https://us.shop.battle.net/ru-ru/product/overwatch"
                                    }
                                  ]
                                }
                              ],
                              "tags": [
                                {
                                  "id": "742c189d-8822-41d5-b113-7843b4932c6c",
                                  "value": "over"
                                },
                                {
                                  "id": "7b865623-02b2-42c4-bd56-3af9afc62181",
                                  "value": "games"
                                }
                              ]
                            }
                          ]
                        },
                        "summary_info": {
                          "page": 1,
                          "page_total": 1,
                          "count": 100,
                          "total": 2,
                          "sort": "keyword",
                          "order": "desc"
                        },
                        "spent_limits": 0
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": {
                        "data": {
                          "projectId": 1226819,
                          "projectRegionId": 372691,
                          "domain": "https://us.shop.battle.net/ru-ru/product/overwatch",
                          "keywords": [
                            {
                              "keyword": "wow name characters",
                              "frequency": 10,
                              "expectedUrl": "",
                              "history": [
                                {
                                  "date": "2025-02-09",
                                  "positions": []
                                },
                                {
                                  "date": "2025-02-10",
                                  "positions": []
                                }
                              ],
                              "tags": []
                            },
                            {
                              "keyword": "overwatch",
                              "frequency": 6600,
                              "expectedUrl": "https://us.shop.battle.net/ru-ru/product/overwatch",
                              "history": [
                                {
                                  "date": "2025-02-09",
                                  "positions": [
                                    {
                                      "position": 5,
                                      "url": "https://us.shop.battle.net/ru-ru/product/overwatch"
                                    }
                                  ]
                                },
                                {
                                  "date": "2025-02-10",
                                  "positions": [
                                    {
                                      "position": 5,
                                      "url": "https://us.shop.battle.net/ru-ru/product/overwatch"
                                    }
                                  ]
                                }
                              ],
                              "tags": [
                                {
                                  "id": "742c189d-8822-41d5-b113-7843b4932c6c",
                                  "value": "over"
                                },
                                {
                                  "id": "7b865623-02b2-42c4-bd56-3af9afc62181",
                                  "value": "games"
                                }
                              ]
                            }
                          ]
                        },
                        "summary_info": {
                          "page": 1,
                          "page_total": 1,
                          "count": 100,
                          "total": 2,
                          "sort": "keyword",
                          "order": "desc"
                        },
                        "spent_limits": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ]
      }
    },
    "/#RtApiSerpResultsProcedure.getKeywordsSerpResultsHistory": {
      "post": {
        "tags": [
          "Rank Tracker"
        ],
        "summary": "getKeywordsSerpResultsHistory",
        "description": "The `RtApiSerpResultsProcedure.getKeywordsSerpResultsHistory` method returns Google's top-100 search results for the required region and project keywords. \r\nThe data set is similar to the Rank tracker - SERP history.\r\n\r\n <!-- theme: success -->\r\n> **Credits**: This method does not spend API credits.",
        "operationId": "post-#RtApiSerpResultsProcedure.getKeywordsSerpResultsHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/id"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `RtApiSerpResultsProcedure.getKeywordsSerpResultsHistory`",
                    "default": "RtApiSerpResultsProcedure.getKeywordsSerpResultsHistory",
                    "example": "RtApiSerpResultsProcedure.getKeywordsSerpResultsHistory"
                  },
                  "params": {
                    "type": "object",
                    "description": "The object with parameters {...}, it lists all the following parameters and arrays [...]",
                    "properties": {
                      "projectId": {
                        "type": "integer",
                        "description": "Project ID",
                        "example": 715910
                      },
                      "projectRegionId": {
                        "type": "integer",
                        "description": "Region ID",
                        "example": 262189
                      },
                      "page": {
                        "type": "integer",
                        "description": "Page number",
                        "default": 1,
                        "example": 1
                      },
                      "pageSize": {
                        "type": "integer",
                        "description": "Number of results per page.\r\n\r\nPossible values: `20`, `50`, `100`, `200`, `500`",
                        "default": 100,
                        "example": 20
                      },
                      "dateFrom": {
                        "type": "string",
                        "description": "Start date of the period for which the data is required",
                        "format": "date",
                        "pattern": "^\\d{4}\\-(0[1-9]|1[012])\\-(0[1-9]|[12][0-9]|3[01])$",
                        "example": "2024-10-09"
                      },
                      "dateTo": {
                        "type": "string",
                        "description": "End date of the period for which the data is required",
                        "format": "date",
                        "pattern": "^\\d{4}\\-(0[1-9]|1[012])\\-(0[1-9]|[12][0-9]|3[01])$",
                        "example": "2025-01-10"
                      },
                      "sort": {
                        "type": "string",
                        "enum": [
                          "keyword",
                          "date"
                        ],
                        "description": "Sorting by parameters.\r\n\r\n`date` — sorting by date,\r\n\r\n`keyword` — sorting alphabetically",
                        "example": "date"
                      },
                      "order": {
                        "type": "string",
                        "enum": [
                          "desc",
                          "asc"
                        ],
                        "description": "Sorting order.\r\n\r\n`desc` — descending order,\r\n\r\n`asc` — ascending order",
                        "default": "desc",
                        "example": "desc"
                      },
                      "keywords": {
                        "type": "array",
                        "description": "Keywords for which pages and positions are required.\r\n\r\nThe maximum number of keywords that can be filtered is 1000.",
                        "items": {
                          "type": "string",
                          "example": "test"
                        }
                      },
                      "withTags": {
                        "type": "boolean",
                        "description": "Display tags for the keywords.\r\n\r\n`true` - show tags for the keywords,\r\n\r\n`false` - don't show tags for the keywords.",
                        "default": false
                      }
                    },
                    "required": [
                      "projectId",
                      "projectRegionId",
                      "page"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method",
                  "params"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": 1,
                    "method": "RtApiSerpResultsProcedure.getKeywordsSerpResultsHistory",
                    "params": {
                      "projectId": 715910,
                      "projectRegionId": 262189,
                      "page": 1,
                      "pageSize": 500,
                      "dateFrom": "2020-05-19",
                      "dateTo": "2020-05-21",
                      "sort": "date",
                      "order": "asc",
                      "keywords": [
                        "1"
                      ],
                      "withTags": true
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "RtApiSerpResultsProcedure.getKeywordsSerpResultsHistory",
                    "params": {
                      "projectId": 1269282,
                      "projectRegionId": 393639,
                      "page": 1,
                      "pageSize": 20,
                      "dateFrom": "2025-04-02",
                      "dateTo": "2025-05-02",
                      "sort": "date",
                      "order": "asc",
                      "keywords": [
                        "walk in clinic tampa"
                      ],
                      "withTags": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Response id corresponds the request id."
                    },
                    "result": {
                      "type": "object",
                      "description": "Contains the answer.",
                      "properties": {
                        "data": {
                          "type": "object",
                          "description": "Object with data.",
                          "properties": {
                            "projectId": {
                              "type": "integer",
                              "description": "Project ID."
                            },
                            "projectRegionId": {
                              "type": "integer",
                              "description": "Region ID."
                            },
                            "keywords": {
                              "type": "array",
                              "description": "Array with keywords.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "keyword": {
                                    "type": "string",
                                    "description": "Keywords with data."
                                  },
                                  "frequency": {
                                    "type": "integer",
                                    "description": "Search volume per month in the selected country or city."
                                  },
                                  "expectedUrl": {
                                    "type": "string",
                                    "description": "A landing page that is optimized for a specific keyword (if it was added in the project)."
                                  },
                                  "history": {
                                    "type": "array",
                                    "description": "Array of dates with search results for keyword\r\n",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "date": {
                                          "type": "string",
                                          "description": "Search results date\r\n"
                                        },
                                        "positions": {
                                          "type": "array",
                                          "description": "Array with positions of domain or page\r\n",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "position": {
                                                "type": "integer",
                                                "description": "Position"
                                              },
                                              "url": {
                                                "type": "string",
                                                "description": "A page that appears in search results for a specific keyword\r\n"
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "required": [
                                        "date",
                                        "positions"
                                      ]
                                    }
                                  },
                                  "tags": {
                                    "type": "array",
                                    "description": "Array of tag`s id and value (name of the tag)\r\n",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "value"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "keyword",
                                  "frequency",
                                  "expectedUrl",
                                  "history",
                                  "tags"
                                ]
                              }
                            }
                          },
                          "required": [
                            "projectId",
                            "projectRegionId",
                            "keywords"
                          ]
                        },
                        "summary_info": {
                          "type": "object",
                          "description": "Summary data block\r\n",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "Current page\r\n"
                            },
                            "page_total": {
                              "type": "integer",
                              "description": "Number of pages with the results for the selected parameter pageSize\r\n"
                            },
                            "count": {
                              "type": "integer",
                              "description": "Number of results per page\r\n"
                            },
                            "total": {
                              "type": "integer",
                              "description": "Total number of results\r\n"
                            },
                            "sort": {
                              "type": "string",
                              "description": "Sorting by parameters\r\n"
                            },
                            "order": {
                              "type": "string",
                              "description": "Sorting order\r\n"
                            }
                          },
                          "required": [
                            "page",
                            "page_total",
                            "count",
                            "total",
                            "sort",
                            "order"
                          ]
                        },
                        "spent_limits": {
                          "type": "integer",
                          "description": "This method does not spend API credits."
                        }
                      },
                      "required": [
                        "data",
                        "summary_info",
                        "spent_limits"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "result"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "1",
                      "result": {
                        "data": {
                          "projectId": 715910,
                          "projectRegionId": 262189,
                          "keywords": [
                            {
                              "keyword": "1",
                              "frequency": 90500,
                              "expectedUrl": "",
                              "history": [
                                {
                                  "date": "2020-05-19",
                                  "positions": [
                                    {
                                      "position": 1,
                                      "url": "https://1plus1.video/tvguide/1plus1/online"
                                    },
                                    {
                                      "position": 2,
                                      "url": "https://1plus1.video/"
                                    },
                                    {
                                      "position": 3,
                                      "url": "https://1plus1.ua/1plus1video"
                                    },
                                    {
                                      "position": 4,
                                      "url": "https://www.youtube.com/channel/ucveaawkfv7fe1c-zubs7tkq"
                                    },
                                    {
                                      "position": 5,
                                      "url": "https://www.facebook.com/1plus1.ua/"
                                    },
                                    {
                                      "position": 6,
                                      "url": "https://tv.i.ua/1plus1/"
                                    },
                                    {
                                      "position": 7,
                                      "url": "https://divan.tv/tv/1-1-hd-2"
                                    },
                                    {
                                      "position": 8,
                                      "url": "https://tvgid.ua/channels/1plus1/"
                                    },
                                    {
                                      "position": 9,
                                      "url": "https://file.liga.net/companies/1plus1"
                                    },
                                    {
                                      "position": 10,
                                      "url": "https://tv.suspilne.media/"
                                    },
                                    {
                                      "position": 11,
                                      "url": "https://footballua.tv/ua"
                                    },
                                    {
                                      "position": 12,
                                      "url": "https://uk.wikipedia.org/wiki/1+1"
                                    },
                                    {
                                      "position": 13,
                                      "url": "https://www.epravda.com.ua/news/2020/05/18/660633/"
                                    },
                                    {
                                      "position": 14,
                                      "url": "https://www.ontvtime.ru/live/russia1-tv.html"
                                    },
                                    {
                                      "position": 15,
                                      "url": "https://itc.ua/news/teper-1-iyunya-mvd-ozvuchilo-novuyu-datu-zapuska-sistemy-avtomaticheskoj-fiksaczii-narushenij-pdd/"
                                    },
                                    {
                                      "position": 16,
                                      "url": "https://moz.gov.ua/article/news/operativna-informacija-pro-poshirennja-koronavirusnoi-infekcii-2019-ncov-1"
                                    },
                                    {
                                      "position": 17,
                                      "url": "https://www.ixbt.com/news/2020/05/16/sony-xperia-1-ii.html"
                                    },
                                    {
                                      "position": 18,
                                      "url": "https://www.pravda.com.ua/news/2020/05/18/7252065/"
                                    },
                                    {
                                      "position": 19,
                                      "url": "https://terrikon.com/football/france/championship/"
                                    },
                                    {
                                      "position": 20,
                                      "url": "https://ua.fmworld.com/"
                                    },
                                    {
                                      "position": 21,
                                      "url": "https://live.russia.tv/channel/1"
                                    },
                                    {
                                      "position": 22,
                                      "url": "https://mail.ukr.net/classic"
                                    },
                                    {
                                      "position": 23,
                                      "url": "https://play.google.com/store/apps/details?id=com.mobile.legends&hl=ru"
                                    },
                                    {
                                      "position": 24,
                                      "url": "http://bus.com.ua/cgi-bin/tablo.pl?as=350100"
                                    },
                                    {
                                      "position": 25,
                                      "url": "https://www.blockchain.com/ru/explorer"
                                    },
                                    {
                                      "position": 26,
                                      "url": "https://zakon.rada.gov.ua/laws/show/2341-14"
                                    },
                                    {
                                      "position": 27,
                                      "url": "https://kpt.kyiv.ua/schedule/tram/1"
                                    },
                                    {
                                      "position": 28,
                                      "url": "https://kayak.od.ua/"
                                    },
                                    {
                                      "position": 29,
                                      "url": "https://tsn.ua/"
                                    },
                                    {
                                      "position": 30,
                                      "url": "https://www.work.ua/"
                                    },
                                    {
                                      "position": 31,
                                      "url": "https://www.real-estate.lviv.ua/продаж-квартир/місто-львів"
                                    },
                                    {
                                      "position": 32,
                                      "url": "https://btsau.edu.ua/"
                                    },
                                    {
                                      "position": 33,
                                      "url": "https://football.ua/ukraine1league.html"
                                    },
                                    {
                                      "position": 34,
                                      "url": "http://gs1.com.ua/"
                                    },
                                    {
                                      "position": 35,
                                      "url": "http://gs1.com.ua/objects/45-zhk-skazka"
                                    },
                                    {
                                      "position": 36,
                                      "url": "https://m-1global.com/"
                                    },
                                    {
                                      "position": 37,
                                      "url": "https://acskidd.gov.ua/korustyvach_csk"
                                    },
                                    {
                                      "position": 38,
                                      "url": "https://intellect-ukraine.org/54-intellect/videouroky/229-videouroky-1-klas-31-2020"
                                    },
                                    {
                                      "position": 39,
                                      "url": "https://auto.ria.com/uk/"
                                    },
                                    {
                                      "position": 40,
                                      "url": "https://mon.gov.ua/ua/osvita/zagalna-serednya-osvita/navchalni-programi/navchalni-programi-dlya-pochatkovoyi-shkoli"
                                    },
                                    {
                                      "position": 41,
                                      "url": "https://kodi-at.com.ua/"
                                    },
                                    {
                                      "position": 42,
                                      "url": "https://mistercat.com.ua/pizza/tags-1-1"
                                    },
                                    {
                                      "position": 43,
                                      "url": "https://www.1tv.ru/"
                                    },
                                    {
                                      "position": 44,
                                      "url": "https://rabota.ua/одесса"
                                    },
                                    {
                                      "position": 45,
                                      "url": "https://www.f1-world.ru/"
                                    },
                                    {
                                      "position": 46,
                                      "url": "https://kiwifitness.com.ua/"
                                    },
                                    {
                                      "position": 47,
                                      "url": "https://zno.osvita.ua/ukrainian/"
                                    },
                                    {
                                      "position": 48,
                                      "url": "http://gravirovka.com.ua/"
                                    },
                                    {
                                      "position": 49,
                                      "url": "https://www.ukrposhta.ua/ua/news"
                                    },
                                    {
                                      "position": 50,
                                      "url": "http://www.nrcu.gov.ua/"
                                    },
                                    {
                                      "position": 51,
                                      "url": "https://vodiy.ua/pdr/test/?complect=6&bilet=1"
                                    },
                                    {
                                      "position": 52,
                                      "url": "https://www.cybersport.ru/dota-2/news/vp-prodigy-stala-chempionom-epic-prime-league-season-1"
                                    },
                                    {
                                      "position": 53,
                                      "url": "http://nati.org.ua/"
                                    },
                                    {
                                      "position": 54,
                                      "url": "https://www.eway.in.ua/ua/cities/lviv/routes/11"
                                    },
                                    {
                                      "position": 55,
                                      "url": "https://kap.minjust.gov.ua/services?product_id=1"
                                    },
                                    {
                                      "position": 56,
                                      "url": "https://varta1.com.ua/"
                                    },
                                    {
                                      "position": 57,
                                      "url": "https://ua.oriflame.com/products/digital-catalogue-current?pagenumber=1&catalogue=2020007"
                                    },
                                    {
                                      "position": 58,
                                      "url": "https://chrome.google.com/webstore/detail/ііт-користувач-цск-1-бібл/jffafkigfgmjafhpkoibhfefeaebmccg?hl=uk"
                                    },
                                    {
                                      "position": 59,
                                      "url": "https://www.sony.ru/electronics/mobile"
                                    },
                                    {
                                      "position": 60,
                                      "url": "https://www.ipay.ua/ru"
                                    },
                                    {
                                      "position": 61,
                                      "url": "http://www.kievskoda.com/"
                                    },
                                    {
                                      "position": 62,
                                      "url": "https://www.kinopoisk.ru/film/535341/"
                                    },
                                    {
                                      "position": 63,
                                      "url": "https://www.citrus.ua/noutbuki-i-ultrabuki/"
                                    },
                                    {
                                      "position": 64,
                                      "url": "https://tests.nuph.edu.ua/"
                                    },
                                    {
                                      "position": 65,
                                      "url": "https://www.scdnipro1.com.ua/"
                                    },
                                    {
                                      "position": 66,
                                      "url": "https://e.mail.ru/messages/inbox/"
                                    },
                                    {
                                      "position": 67,
                                      "url": "https://evrasia.in.ua/ru/togo"
                                    },
                                    {
                                      "position": 68,
                                      "url": "https://www.ivi.ru/watch/109726"
                                    },
                                    {
                                      "position": 69,
                                      "url": "https://www.rnpp.rv.ua/vidklyucheno-vid-merezhi-energoblok-%e2%84%961-raes.html"
                                    },
                                    {
                                      "position": 70,
                                      "url": "https://allbible.info/bible/sinodal/mt/1/"
                                    },
                                    {
                                      "position": 71,
                                      "url": "https://lun.ua/uk/жк-метрополіс-київ"
                                    },
                                    {
                                      "position": 72,
                                      "url": "https://e-1.com.ua/"
                                    },
                                    {
                                      "position": 73,
                                      "url": "https://avtozvuk.ua/kharkivske_shosse/store6"
                                    },
                                    {
                                      "position": 74,
                                      "url": "https://www.trans-service-1.com.ua/"
                                    },
                                    {
                                      "position": 75,
                                      "url": "http://www.wayhome.tv/"
                                    },
                                    {
                                      "position": 76,
                                      "url": "https://rozetka.com.ua/headphones/c80027/"
                                    },
                                    {
                                      "position": 77,
                                      "url": "https://books.google.com.ua/books?id=_zvsbqaaqbaj&pg=pa74&lpg=pa74&dq=1&source=bl&ots=wgddnbk5z_&sig=acfu3u2ag4kmkm91zotyzc78tbkgrfsbfq&hl=uk&sa=x&ved=2ahukewj9sfn0wb7pahumlyskhskkdlgq6aewyxoecgaqaq"
                                    },
                                    {
                                      "position": 78,
                                      "url": "https://helsinki.org.ua/tenders/"
                                    },
                                    {
                                      "position": 79,
                                      "url": "https://nplus1.ru/"
                                    },
                                    {
                                      "position": 80,
                                      "url": "https://books.google.com.ua/books?id=bi88dwaaqbaj&pg=pa248&lpg=pa248&dq=1&source=bl&ots=dt5pv86xwa&sig=acfu3u0vi7wfdacuixoof66tjez9jvunjw&hl=uk&sa=x&ved=2ahukewj9sfn0wb7pahumlyskhskkdlgq6aewzhoecgeqaq"
                                    },
                                    {
                                      "position": 81,
                                      "url": "https://kinoland.com.ua/cinemas/8-12/"
                                    },
                                    {
                                      "position": 82,
                                      "url": "http://law.knu.ua/ua/"
                                    },
                                    {
                                      "position": 83,
                                      "url": "https://publishing.linguist.ua/quickminds1/"
                                    },
                                    {
                                      "position": 84,
                                      "url": "https://espreso.tv/news/2020/05/17/mau_ne_zdiysnyuvatyme_mizhnarodni_aviareysy_do_1_lypnya"
                                    },
                                    {
                                      "position": 85,
                                      "url": "https://distance.dnmu.ru/course/index.php?categoryid=9"
                                    },
                                    {
                                      "position": 86,
                                      "url": "https://dominos.ua/"
                                    },
                                    {
                                      "position": 87,
                                      "url": "https://rivne1.tv/"
                                    },
                                    {
                                      "position": 88,
                                      "url": "https://ibuhgalter.net/articles/527"
                                    },
                                    {
                                      "position": 89,
                                      "url": "https://books.google.com.ua/books?id=elcdcgaaqbaj&pg=pa36&lpg=pa36&dq=1&source=bl&ots=n2obs-1y3a&sig=acfu3u388gnicx29up6nroxcwgtbrmzlpa&hl=uk&sa=x&ved=2ahukewj9sfn0wb7pahumlyskhskkdlgq6aewbxoecgiqaq"
                                    },
                                    {
                                      "position": 90,
                                      "url": "https://www.olx.ua/obyavlenie/sdam-1-komnatnuyu-zhk-raduzhnyy-idgj9l1.html"
                                    },
                                    {
                                      "position": 91,
                                      "url": "https://www.saintjosaphat.org/rozporyadok/ryasne1"
                                    },
                                    {
                                      "position": 92,
                                      "url": "https://opt-club.com.ua/"
                                    },
                                    {
                                      "position": 93,
                                      "url": "https://eva.ua/ua/"
                                    },
                                    {
                                      "position": 94,
                                      "url": "https://www.avianews.com/world/2020/05/18/ryanair_1bn_profit_2020fy/"
                                    },
                                    {
                                      "position": 95,
                                      "url": "https://books.google.com.ua/books?id=21smdaaaqbaj&pg=pa286&lpg=pa286&dq=1&source=bl&ots=2ytmq3eggx&sig=acfu3u05x6b9n71y6tjv-6r3zny5imgsiw&hl=uk&sa=x&ved=2ahukewj9sfn0wb7pahumlyskhskkdlgq6aewc3oecgqqaq"
                                    },
                                    {
                                      "position": 96,
                                      "url": "https://www.kmu.gov.ua/"
                                    },
                                    {
                                      "position": 97,
                                      "url": "https://www.samsung.com/ru/smartphones/galaxy-s20/"
                                    }
                                  ]
                                },
                                {
                                  "date": "2020-05-20",
                                  "positions": [
                                    {
                                      "position": 1,
                                      "url": "https://1plus1.video/tvguide/1plus1/online"
                                    },
                                    {
                                      "position": 2,
                                      "url": "https://1plus1.video/"
                                    },
                                    {
                                      "position": 3,
                                      "url": "https://1plus1.ua/1plus1video"
                                    },
                                    {
                                      "position": 4,
                                      "url": "https://www.facebook.com/1plus1.ua/"
                                    },
                                    {
                                      "position": 5,
                                      "url": "https://www.youtube.com/channel/ucveaawkfv7fe1c-zubs7tkq"
                                    },
                                    {
                                      "position": 6,
                                      "url": "https://tv.i.ua/1plus1/"
                                    },
                                    {
                                      "position": 7,
                                      "url": "https://divan.tv/tv/1-1-hd-2"
                                    },
                                    {
                                      "position": 8,
                                      "url": "https://www.epravda.com.ua/news/2020/05/19/660712/"
                                    },
                                    {
                                      "position": 9,
                                      "url": "https://www.pravda.com.ua/news/2020/05/19/7252279/"
                                    },
                                    {
                                      "position": 10,
                                      "url": "https://tvgid.ua/channels/1plus1/"
                                    },
                                    {
                                      "position": 11,
                                      "url": "https://file.liga.net/companies/1plus1"
                                    },
                                    {
                                      "position": 12,
                                      "url": "https://www.unian.ua/m/society/uroki-onlayn-1-4-klas-19-travnya-2020-zapis-video-pryama-translyaciya-novini-ukrajini-10974767.html"
                                    },
                                    {
                                      "position": 13,
                                      "url": "https://footballua.tv/ua"
                                    },
                                    {
                                      "position": 14,
                                      "url": "https://www.ixbt.com/news/2020/05/19/880-1-2.html"
                                    },
                                    {
                                      "position": 15,
                                      "url": "https://uk.wikipedia.org/wiki/1+1"
                                    },
                                    {
                                      "position": 16,
                                      "url": "https://www.ontvtime.ru/live/russia1-tv.html"
                                    },
                                    {
                                      "position": 17,
                                      "url": "https://www.1tv.ru/schedule/week"
                                    },
                                    {
                                      "position": 18,
                                      "url": "https://itc.ua/news/teper-1-iyunya-mvd-ozvuchilo-novuyu-datu-zapuska-sistemy-avtomaticheskoj-fiksaczii-narushenij-pdd/"
                                    },
                                    {
                                      "position": 19,
                                      "url": "https://moz.gov.ua/article/news/operativna-informacija-pro-poshirennja-koronavirusnoi-infekcii-2019-ncov-1"
                                    },
                                    {
                                      "position": 20,
                                      "url": "https://live.russia.tv/channel/1"
                                    },
                                    {
                                      "position": 21,
                                      "url": "https://tsn.ua/"
                                    },
                                    {
                                      "position": 22,
                                      "url": "https://ua.fmworld.com/"
                                    },
                                    {
                                      "position": 23,
                                      "url": "https://warthunder.ru/ru/news/14823-v-razrabotke-scimitar-f-1-dvuhmotornyj-zver-ru"
                                    },
                                    {
                                      "position": 24,
                                      "url": "https://tv.suspilne.media/"
                                    },
                                    {
                                      "position": 25,
                                      "url": "https://mail.ukr.net/classic"
                                    },
                                    {
                                      "position": 26,
                                      "url": "https://112.ua/"
                                    },
                                    {
                                      "position": 27,
                                      "url": "https://www.blockchain.com/ru/explorer"
                                    },
                                    {
                                      "position": 28,
                                      "url": "https://kpt.kyiv.ua/schedule/tram/1"
                                    },
                                    {
                                      "position": 29,
                                      "url": "https://zakon.rada.gov.ua/laws/show/2341-14"
                                    },
                                    {
                                      "position": 30,
                                      "url": "https://volodymyrets.city/read/rayon/81195/koronavirusna-situaciya-na-19-travnya-u-rajoni-1-pidozra-u-varashi-7-hvorih-i-9-pidozr-pereviryayut"
                                    },
                                    {
                                      "position": 31,
                                      "url": "https://kayak.od.ua/"
                                    },
                                    {
                                      "position": 32,
                                      "url": "https://football.ua/france.html"
                                    },
                                    {
                                      "position": 33,
                                      "url": "https://www.debilizator.tv/rossija-1/airtv/"
                                    },
                                    {
                                      "position": 34,
                                      "url": "https://www.work.ua/"
                                    },
                                    {
                                      "position": 35,
                                      "url": "https://habr.com/ru/company/plesk/blog/502604/"
                                    },
                                    {
                                      "position": 36,
                                      "url": "http://lowcostavia.com.ua/mau-pryzupynyla-prodazh-aviakvytkiv-do-1-lypnia-2020-roku/"
                                    },
                                    {
                                      "position": 37,
                                      "url": "https://terrikon.com/football/france/championship/"
                                    },
                                    {
                                      "position": 38,
                                      "url": "http://upml.knu.ua/"
                                    },
                                    {
                                      "position": 39,
                                      "url": "https://btsau.edu.ua/"
                                    },
                                    {
                                      "position": 40,
                                      "url": "https://www.real-estate.lviv.ua/продаж-квартир/місто-львів"
                                    },
                                    {
                                      "position": 41,
                                      "url": "http://gs1.com.ua/objects"
                                    },
                                    {
                                      "position": 42,
                                      "url": "https://mon.gov.ua/ua/osvita/zagalna-serednya-osvita/navchalni-programi/navchalni-programi-dlya-pochatkovoyi-shkoli"
                                    },
                                    {
                                      "position": 43,
                                      "url": "https://www.o-kluch.com/"
                                    },
                                    {
                                      "position": 44,
                                      "url": "https://acskidd.gov.ua/korustyvach_csk"
                                    },
                                    {
                                      "position": 45,
                                      "url": "https://intellect-ukraine.org/54-intellect/videouroky/229-videouroky-1-klas-31-2020"
                                    },
                                    {
                                      "position": 46,
                                      "url": "https://auto.ria.com/uk/"
                                    },
                                    {
                                      "position": 47,
                                      "url": "https://kodi-at.com.ua/"
                                    },
                                    {
                                      "position": 48,
                                      "url": "https://m-1global.com/"
                                    },
                                    {
                                      "position": 49,
                                      "url": "https://www.f1-world.ru/"
                                    },
                                    {
                                      "position": 50,
                                      "url": "https://rabota.ua/одесса"
                                    },
                                    {
                                      "position": 51,
                                      "url": "https://kiwifitness.com.ua/"
                                    },
                                    {
                                      "position": 52,
                                      "url": "http://nati.org.ua/"
                                    },
                                    {
                                      "position": 53,
                                      "url": "https://kap.minjust.gov.ua/services?product_id=1"
                                    },
                                    {
                                      "position": 54,
                                      "url": "https://zno.osvita.ua/ukrainian/"
                                    },
                                    {
                                      "position": 55,
                                      "url": "https://biz.ligazakon.net/ua/news/195396_podatkvts-do-1-lipnya-rozshlyut-fzosobam-povdomlennya-pro-splatu-maynovikh-podatkv"
                                    },
                                    {
                                      "position": 56,
                                      "url": "https://vodiy.ua/pdr/test/?complect=6&bilet=1"
                                    },
                                    {
                                      "position": 57,
                                      "url": "https://www.eway.in.ua/ua/cities/lviv/routes/11"
                                    },
                                    {
                                      "position": 58,
                                      "url": "https://varta1.com.ua/"
                                    },
                                    {
                                      "position": 59,
                                      "url": "https://ua.oriflame.com/products/digital-catalogue-current?pagenumber=1&catalogue=2020007"
                                    },
                                    {
                                      "position": 60,
                                      "url": "https://testkrok.org.ua/"
                                    },
                                    {
                                      "position": 61,
                                      "url": "http://www.nrcu.gov.ua/"
                                    },
                                    {
                                      "position": 62,
                                      "url": "https://epicentrk.ua/ua/shop/gotovye-kukhni/"
                                    },
                                    {
                                      "position": 63,
                                      "url": "https://tests.nuph.edu.ua/"
                                    },
                                    {
                                      "position": 64,
                                      "url": "https://www.sony.ru/electronics/mobile"
                                    },
                                    {
                                      "position": 65,
                                      "url": "https://www.ipay.ua/ru"
                                    },
                                    {
                                      "position": 66,
                                      "url": "http://www.kievskoda.com/"
                                    },
                                    {
                                      "position": 67,
                                      "url": "https://www.citrus.ua/noutbuki-i-ultrabuki/"
                                    },
                                    {
                                      "position": 68,
                                      "url": "https://e.mail.ru/messages/inbox/"
                                    },
                                    {
                                      "position": 69,
                                      "url": "https://misto.vn.ua/medicine/perevantazhenist-vinnickoї-miskoї-klinichnoї-likarni-1-koronavirusnimi-xvorimi-zrosla-shhe-bilshe/"
                                    },
                                    {
                                      "position": 70,
                                      "url": "https://evrasia.in.ua/ru/togo"
                                    },
                                    {
                                      "position": 71,
                                      "url": "https://allbible.info/bible/sinodal/mt/1/"
                                    },
                                    {
                                      "position": 72,
                                      "url": "https://www.scdnipro1.com.ua/"
                                    },
                                    {
                                      "position": 73,
                                      "url": "https://www.ivi.ru/watch/109726"
                                    },
                                    {
                                      "position": 74,
                                      "url": "http://www.wayhome.tv/"
                                    },
                                    {
                                      "position": 75,
                                      "url": "https://www.trans-service-1.com.ua/"
                                    },
                                    {
                                      "position": 76,
                                      "url": "https://e-1.com.ua/"
                                    },
                                    {
                                      "position": 77,
                                      "url": "https://rozetka.com.ua/headphones/c80027/"
                                    },
                                    {
                                      "position": 78,
                                      "url": "https://nplus1.ru/"
                                    },
                                    {
                                      "position": 79,
                                      "url": "https://www.rnpp.rv.ua/vidklyucheno-vid-merezhi-energoblok-%e2%84%961-raes.html"
                                    },
                                    {
                                      "position": 80,
                                      "url": "https://lowcost.ua/lot-covid-1jun/"
                                    },
                                    {
                                      "position": 81,
                                      "url": "https://dominos.ua/"
                                    },
                                    {
                                      "position": 82,
                                      "url": "https://www.zhitomir.info/news_192221.html"
                                    },
                                    {
                                      "position": 83,
                                      "url": "https://kinoland.com.ua/cinemas/8-12/"
                                    },
                                    {
                                      "position": 84,
                                      "url": "https://chrome.google.com/webstore/detail/ііт-користувач-цск-1-бібл/jffafkigfgmjafhpkoibhfefeaebmccg?hl=uk"
                                    },
                                    {
                                      "position": 85,
                                      "url": "https://radiator.ks.ua/ru"
                                    },
                                    {
                                      "position": 86,
                                      "url": "http://bus.com.ua/cgi-bin/tablo.pl?as=050100"
                                    },
                                    {
                                      "position": 87,
                                      "url": "https://helsinki.org.ua/tenders/"
                                    },
                                    {
                                      "position": 88,
                                      "url": "https://books.google.com.ua/books?id=_zvsbqaaqbaj&pg=pa85&lpg=pa85&dq=1&source=bl&ots=wgddo9r2t-&sig=acfu3u1aftrf67pgk3ar_glmagk2eoga_a&hl=uk&sa=x&ved=2ahukewjcnd3whmhpahvieh0khqveaeuq6aewynoecguqaq"
                                    },
                                    {
                                      "position": 89,
                                      "url": "http://www.aafu.org.ua/championship/group_1"
                                    },
                                    {
                                      "position": 90,
                                      "url": "https://www.eurointegration.com.ua/news/2020/05/19/7110100/"
                                    },
                                    {
                                      "position": 91,
                                      "url": "https://distance.dnmu.ru/course/index.php?categoryid=9"
                                    },
                                    {
                                      "position": 92,
                                      "url": "https://vk.com/govarta1"
                                    },
                                    {
                                      "position": 93,
                                      "url": "https://erg.com.ua/"
                                    },
                                    {
                                      "position": 94,
                                      "url": "https://moreleto.com.ua/resorts/zatoka-pervaya-liniya/hotels/"
                                    },
                                    {
                                      "position": 95,
                                      "url": "https://rivne1.tv/"
                                    },
                                    {
                                      "position": 96,
                                      "url": "https://opt-club.com.ua/"
                                    },
                                    {
                                      "position": 97,
                                      "url": "https://eva.ua/ua/"
                                    }
                                  ]
                                },
                                {
                                  "date": "2020-05-21",
                                  "positions": [
                                    {
                                      "position": 1,
                                      "url": "https://1plus1.video/tvguide/1plus1/online"
                                    },
                                    {
                                      "position": 2,
                                      "url": "https://1plus1.video/"
                                    },
                                    {
                                      "position": 3,
                                      "url": "https://1plus1.ua/1plus1video"
                                    },
                                    {
                                      "position": 4,
                                      "url": "https://www.youtube.com/channel/ucveaawkfv7fe1c-zubs7tkq"
                                    },
                                    {
                                      "position": 5,
                                      "url": "https://www.facebook.com/1plus1.ua/"
                                    },
                                    {
                                      "position": 6,
                                      "url": "https://divan.tv/tv/1-1-hd-2"
                                    },
                                    {
                                      "position": 7,
                                      "url": "https://tv.i.ua/1plus1/"
                                    },
                                    {
                                      "position": 8,
                                      "url": "https://tvgid.ua/channels/1plus1/"
                                    },
                                    {
                                      "position": 9,
                                      "url": "https://uk.wikipedia.org/wiki/1+1"
                                    },
                                    {
                                      "position": 10,
                                      "url": "https://www.epravda.com.ua/news/2020/05/20/660715/"
                                    },
                                    {
                                      "position": 11,
                                      "url": "https://ru.wikipedia.org/wiki/1+1_(телеканал)"
                                    },
                                    {
                                      "position": 12,
                                      "url": "https://www.1tv.ru/news/issue/2020-05-20/18:00"
                                    },
                                    {
                                      "position": 13,
                                      "url": "https://www.ixbt.com/news/2020/05/19/sony-xperia-1-ii.html"
                                    },
                                    {
                                      "position": 14,
                                      "url": "https://www.ontvtime.ru/live/russia1-tv.html"
                                    },
                                    {
                                      "position": 15,
                                      "url": "https://tsn.ua/"
                                    },
                                    {
                                      "position": 16,
                                      "url": "https://footballua.tv/ua/schedule"
                                    },
                                    {
                                      "position": 17,
                                      "url": "https://ua.fmworld.com/"
                                    },
                                    {
                                      "position": 18,
                                      "url": "https://moz.gov.ua/article/news/operativna-informacija-pro-poshirennja-koronavirusnoi-infekcii-2019-ncov-1"
                                    },
                                    {
                                      "position": 19,
                                      "url": "https://itc.ua/news/teper-1-iyunya-mvd-ozvuchilo-novuyu-datu-zapuska-sistemy-avtomaticheskoj-fiksaczii-narushenij-pdd/"
                                    },
                                    {
                                      "position": 20,
                                      "url": "https://live.russia.tv/channel/1"
                                    },
                                    {
                                      "position": 21,
                                      "url": "https://mail.ukr.net/classic"
                                    },
                                    {
                                      "position": 22,
                                      "url": "https://www.blockchain.com/ru/explorer"
                                    },
                                    {
                                      "position": 23,
                                      "url": "https://tv.suspilne.media/"
                                    },
                                    {
                                      "position": 24,
                                      "url": "https://file.liga.net/companies/1plus1"
                                    },
                                    {
                                      "position": 25,
                                      "url": "https://zakon.rada.gov.ua/laws/show/2341-14"
                                    },
                                    {
                                      "position": 26,
                                      "url": "https://kpt.kyiv.ua/schedule/tram/1"
                                    },
                                    {
                                      "position": 27,
                                      "url": "https://kayak.od.ua/"
                                    },
                                    {
                                      "position": 28,
                                      "url": "https://www.work.ua/"
                                    },
                                    {
                                      "position": 29,
                                      "url": "https://www.pravda.com.ua/news/2020/05/19/7252279/"
                                    },
                                    {
                                      "position": 30,
                                      "url": "https://lowcost.ua/ua-ge-1july/"
                                    },
                                    {
                                      "position": 31,
                                      "url": "https://football.ua/italy/422122-milan-mozhet-vykupit-kjaera-za-15-mln-evro.html"
                                    },
                                    {
                                      "position": 32,
                                      "url": "https://volodymyrets.city/read/rayon/81195/koronavirusna-situaciya-na-19-travnya-u-rajoni-1-pidozra-u-varashi-7-hvorih-i-9-pidozr-pereviryayut"
                                    },
                                    {
                                      "position": 33,
                                      "url": "https://mon.gov.ua/ua/osvita/zagalna-serednya-osvita/navchalni-programi/navchalni-programi-dlya-pochatkovoyi-shkoli"
                                    },
                                    {
                                      "position": 34,
                                      "url": "https://www.real-estate.lviv.ua/продаж-квартир/місто-львів"
                                    },
                                    {
                                      "position": 35,
                                      "url": "http://gs1.com.ua/objects"
                                    },
                                    {
                                      "position": 36,
                                      "url": "https://acskidd.gov.ua/korustyvach_csk"
                                    },
                                    {
                                      "position": 37,
                                      "url": "https://auto.ria.com/uk/"
                                    },
                                    {
                                      "position": 38,
                                      "url": "https://terrikon.com/football/france/championship/"
                                    },
                                    {
                                      "position": 39,
                                      "url": "https://kodi-at.com.ua/"
                                    },
                                    {
                                      "position": 40,
                                      "url": "https://zno.osvita.ua/ukrainian/"
                                    },
                                    {
                                      "position": 41,
                                      "url": "https://www.unian.ua/m/economics/finance/findopomoga-vid-yes-ukrajini-vidilyat-1-2-milyarda-yevro-novini-ukrajina-11004500.html"
                                    },
                                    {
                                      "position": 42,
                                      "url": "https://mistercat.com.ua/pizza/tags-1-1"
                                    },
                                    {
                                      "position": 43,
                                      "url": "https://kiwifitness.com.ua/"
                                    },
                                    {
                                      "position": 44,
                                      "url": "http://nati.org.ua/"
                                    },
                                    {
                                      "position": 45,
[...]
