{
  "openapi": "3.0.0",
  "info": {
    "version": "4.0",
    "title": "Audit API",
    "description": "### Current version: 4\n\nhttps://api.serpstat.com/v4 — Endpoint URL, through which all requests should be processed.\n\n### API protocol\n\n- Our API protocol is [**JSON-RPC 2.0**](https://www.jsonrpc.org/specification).\n\n### Requests\n\n- All requests should be sent via **POST** method.\n- All request parameters must be set via POST request body in **JSON** format.\n- Each request should contain a `method` name parameter corresponding to the API method (case-sensitive).\n\n### Authentication\n\n- Tokens are used for authentication. Create a token on [your profile page](https://serpstat.com/users/profile/). \n- `token` is required for all API requests.\n- Api token is available for almost paid and trial plans that have API feature enabled.\n\n### Pagination\n\nFor pagination, use the parameters:\n- `size`: number of results per page (default 100, maximum 1000);\n- `page`: page number (default is 1st page).\n\nPlease note: not all methods are supporting pagination.\n\n\n### Filters\n\nFilters can be applied to each method, most of them are specific for the method you used.\n`filters` object are optional for most methods.\n\n### Responses\n\n- All responses are in **JSON** format.\n- All responses have 200 HTTP status, even erroneous ones. In case of error, the response contains an `error` object instead of `result`.\n\n\n### API credits (limits)\n\nWhen calculating the used credits, your pricing plan's API requests are taken into account, including identical requests and requests for export.\n\n### Request rates\n\nMost subscription plans are limited to 1 request per second.\nTop-tier plans allow up to 10 requests per second.\nFor higher rate limits, contact our sales team.\nExceeding your rate limit will result in an error response.\n\n### Max results\n\nThe maximum number of results returned by each API method is limited up to 60,000 rows.\n",
    "termsOfService": "https://serpstat.com/users/license-agreement/",
    "contact": {
      "name": "Support",
      "email": "support@serpstat.com",
      "url": "https://serpstat.com"
    },
    "license": {
      "url": "https://creativecommons.org/licenses/by/4.0/",
      "name": "CC BY 4.0"
    }
  },
  "servers": [
    {
      "url": "https://api.serpstat.com/v4",
      "description": "Default server"
    }
  ],
  "paths": {
    "/#AuditOnePage.scan": {
      "post": {
        "tags": [
          "AuditOnePage"
        ],
        "summary": "scan",
        "description": "Method `AuditOnePage.scan` allow you to scan one webpage, including js rendering.\nThis method is deffered. It returns pageId and reportId of audit task.\nTo get detailed report you shoud make another request with `auditOnePage.getPageAudit` method.\n\n<!-- theme: success -->\n> **Credits**: 10 credit per scan.",
        "operationId": "post-#AuditOnePage.scan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/requestId"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `auditOnePage.scan`",
                    "example": "auditOnePage.scan"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of your project",
                        "example": "Example one page audit"
                      },
                      "url": {
                        "type": "string",
                        "description": "Page url to scan",
                        "example": "https://serpstat.com/"
                      },
                      "userAgent": {
                        "$ref": "#/components/schemas/userAgentId"
                      },
                      "httpAuthLogin": {
                        "type": "string",
                        "description": "Login for Basic HTTP authentication"
                      },
                      "httpAuthPass": {
                        "type": "string",
                        "description": "Password for Basic HTTP authentication"
                      }
                    },
                    "required": [
                      "name",
                      "url",
                      "userAgent"
                    ]
                  }
                },
                "required": [
                  "method",
                  "params"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": 1,
                    "method": "auditOnePage.scan",
                    "params": {
                      "name": "tester",
                      "url": "https://antosha.net/no_index_long_title",
                      "userAgent": 1,
                      "httpAuthLogin": "httpUser",
                      "httpAuthPass": "httpPass"
                    },
                    "jsonrpc": "2.0"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "AuditOnePage.scan",
                    "params": {
                      "name": "Example one page audit",
                      "url": "https://serpstat.com/",
                      "userAgent": 1
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/requestId"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "pageId": {
                          "type": "integer"
                        },
                        "reportId": {
                          "$ref": "#/components/schemas/reportId"
                        }
                      },
                      "required": [
                        "pageId",
                        "reportId"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "result"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "pageId": 52474,
                        "reportId": 74710
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": {
                        "pageId": 52474,
                        "reportId": 74710
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ],
        "x-internal": true
      }
    },
    "/#AuditOnePage.rescan": {
      "post": {
        "tags": [
          "AuditOnePage"
        ],
        "summary": "rescan",
        "description": "Rescan project(page), created new audit report.\n\n<!-- theme: success -->\n> **Credits**: 10 credit per rescan.",
        "operationId": "post-#AuditOnePage.rescan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/requestId"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `AuditOnePage.rescan`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "pageId": {
                        "$ref": "#/components/schemas/pageId"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of your project. You can change project name in this method if necessary"
                      },
                      "userAgent": {
                        "$ref": "#/components/schemas/userAgentId"
                      },
                      "httpAuthLogin": {
                        "type": "string",
                        "description": "Login for Basic HTTP authentication"
                      },
                      "httpAuthPass": {
                        "type": "string",
                        "description": "Password for Basic HTTP authentication"
                      }
                    },
                    "required": [
                      "pageId",
                      "name",
                      "userAgent"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "AuditOnePage.rescan",
                    "params": {
                      "pageId": 52540,
                      "name": "Rescan example one page audit",
                      "userAgent": 0,
                      "httpAuthLogin": "",
                      "httpAuthPass": ""
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "AuditOnePage.rescan",
                    "params": {
                      "pageId": 52540,
                      "name": "Rescan example one page audit",
                      "userAgent": 0,
                      "httpAuthLogin": "",
                      "httpAuthPass": ""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/requestId"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "reportId": {
                          "$ref": "#/components/schemas/reportId"
                        }
                      },
                      "required": [
                        "reportId"
                      ]
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "reportId": 74820
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": {
                        "reportId": 74820
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ],
        "x-internal": true
      }
    },
    "/#AuditOnePage.stop": {
      "post": {
        "tags": [
          "AuditOnePage"
        ],
        "summary": "stop",
        "description": "Stop active page audit.\n\n> **Credits**: This method doesn't spent API credits.",
        "operationId": "post-#AuditOnePage.stop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/requestId"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `AuditOnePage.stop`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "pageId": {
                        "$ref": "#/components/schemas/pageId"
                      }
                    },
                    "required": [
                      "pageId"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "AuditOnePage.stop",
                    "params": {
                      "pageId": 52540
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "AuditOnePage.stop",
                    "params": {
                      "pageId": 52540
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/requestId"
                    },
                    "result": {
                      "type": "boolean",
                      "description": "result of stop operation"
                    }
                  },
                  "required": [
                    "id",
                    "result"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": true
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ],
        "x-internal": true
      }
    },
    "/#AuditOnePage.remove": {
      "post": {
        "tags": [
          "AuditOnePage"
        ],
        "summary": "remove",
        "description": "Remove project(page) from customer project list for One Page Audit.\n\n> **Credits**: This method doesn't spent API credits.",
        "operationId": "post-#AuditOnePage.remove",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/requestId"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `AuditOnePage.remove`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "pageId": {
                        "$ref": "#/components/schemas/pageId"
                      }
                    },
                    "required": [
                      "pageId"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "AuditOnePage.remove",
                    "params": {
                      "pageId": 52551
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "AuditOnePage.remove",
                    "params": {
                      "pageId": 52551
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/requestId"
                    },
                    "result": {
                      "type": "boolean",
                      "description": "result of remove operation"
                    }
                  },
                  "required": [
                    "id",
                    "result"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": true
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ],
        "x-internal": true
      }
    },
    "/#AuditOnePage.getPageAudit": {
      "post": {
        "tags": [
          "AuditOnePage"
        ],
        "summary": "getPageAudit",
        "description": "Method `AuditOnePage.getPageAudit` gets last report of project with issues (see `AuditOnePage.getAudit`)\n\n> **Credits**: This method doesn't spent API credits.",
        "operationId": "post-#AuditOnePage.getPageAudit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/requestId"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `AuditOnePage.getPageAudit`"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "pageId": {
                        "$ref": "#/components/schemas/pageId"
                      }
                    },
                    "required": [
                      "pageId"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "123",
                    "method": "AuditOnePage.getPageAudit",
                    "params": {
                      "pageId": 52540
                    },
                    "jsonrpc": "2.0"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "AuditOnePage.getPageAudit",
                    "params": {
                      "pageId": 52540
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/requestId"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "categories": {
                          "$ref": "#/components/schemas/categoriesPage"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "pageId": {
                                "$ref": "#/components/schemas/pageId"
                              },
                              "url": {
                                "type": "string",
                                "description": "Page url to scan"
                              },
                              "name": {
                                "type": "string",
                                "description": "Project name"
                              },
                              "settings": {
                                "$ref": "#/components/schemas/settings"
                              },
                              "status": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "pageId",
                              "url",
                              "name",
                              "status"
                            ]
                          }
                        },
                        "report": {
                          "$ref": "#/components/schemas/reportInfo"
                        }
                      }
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "pageId": 50117,
                            "url": "https://arianta.com.ua/product/ketchup-chyli-tm-chumak-250-g/",
                            "name": "https://arianta.com.ua/product/ketchup-chyli-tm-chumak-250-g/",
                            "status": "1",
                            "settings": {
                              "userAgent": "2",
                              "httpAuthLogin": "",
                              "httpAuthPassword": ""
                            }
                          }
                        ],
                        "categories": [
                          {
                            "key": "pages_status",
                            "errors": [
                              {
                                "key": "errors_400",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "errors_500",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "meta_tags",
                            "errors": [
                              {
                                "key": "no_desc",
                                "priority": "high",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "no_title",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "tiny_desc",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "long_title",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "tiny_title",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "many_title",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "meta_refresh",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "title_dup_h1",
                                "priority": "low",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "charset_missing",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "long_desc",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "headings",
                            "errors": [
                              {
                                "key": "h1_missing",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "many_h1",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "content",
                            "errors": [
                              {
                                "key": "large_page_size",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "body_text_missing",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "dummy_text",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "multimedia",
                            "errors": [
                              {
                                "key": "broken_image_url",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": true
                              },
                              {
                                "key": "large_image_size",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": true
                              },
                              {
                                "key": "image_no_alt",
                                "priority": "medium",
                                "countAll": 26,
                                "countNew": 26,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": true
                              }
                            ]
                          },
                          {
                            "key": "indexation",
                            "errors": [
                              {
                                "key": "many_canonical",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "use_flash",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "use_iframe",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "less_words",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "wrong_canonical",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hidden_no_index",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hidden_robots_txt",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "offsite_canonical",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "relative_canonical",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "redirects",
                            "errors": [
                              {
                                "key": "redirects",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type5",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "links",
                            "errors": [
                              {
                                "key": "many_get_params",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "long_url",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "many_external_links",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "miss_favicon",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": true
                              },
                              {
                                "key": "external_link_without_no_follow_exist",
                                "priority": "information",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "internal_links_no_follow_exist",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "https",
                            "errors": [
                              {
                                "key": "https_check_domain_in_cert",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_hsts",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_cert_chain",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_expired",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_tls",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_sslv3",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_self_signed",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_sitemap_with_http",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_mixed_content",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_link_to_http",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_non_secure_page",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "hreflang",
                            "errors": [
                              {
                                "key": "hreflang_wrong_value",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hreflang_usage",
                                "priority": "information",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hreflang_no_link",
                                "priority": "information",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hreflang_wrong_url",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hreflang_broken_links",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "amp",
                            "errors": [
                              {
                                "key": "amp_usage",
                                "priority": "information",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "markup",
                            "errors": [
                              {
                                "key": "markup_schema_missing",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "markup_open_graph_missing",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "markup_twitter_card_missing",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "markup_json_ld_missing",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "pagespeed_desktop",
                            "errors": [
                              {
                                "key": "OptimizeImages",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "LeverageBrowserCaching",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "pagespeed_mobile",
                            "errors": [
                              {
                                "key": "MinimizeRenderBlockingResources",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "LeverageBrowserCaching",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              }
                            ]
                          }
                        ],
                        "report": {
                          "id": 74806,
                          "auditDate": "2025-01-10 17:15:44",
                          "status": 4,
                          "sdo": 61,
                          "high": 1,
                          "medium": 21,
                          "low": 1,
                          "information": 2,
                          "viruses": 0,
                          "progress": 100
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "pageId": 52540,
                            "url": "https://serpstat.com/",
                            "name": "Example one page audit",
                            "status": "1",
                            "settings": {
                              "userAgent": "1",
                              "httpAuthLogin": null,
                              "httpAuthPassword": null
                            }
                          }
                        ],
                        "categories": [
                          {
                            "key": "pages_status",
                            "errors": [
                              {
                                "key": "errors_400",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "errors_500",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "meta_tags",
                            "errors": [
                              {
                                "key": "no_desc",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "no_title",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "tiny_desc",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "long_title",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "tiny_title",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "many_title",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "meta_refresh",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "title_dup_h1",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "charset_missing",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "long_desc",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "headings",
                            "errors": [
                              {
                                "key": "h1_missing",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "many_h1",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "content",
                            "errors": [
                              {
                                "key": "large_page_size",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "body_text_missing",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "dummy_text",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "multimedia",
                            "errors": [
                              {
                                "key": "broken_image_url",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": true
                              },
                              {
                                "key": "large_image_size",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": true
                              },
                              {
                                "key": "image_no_alt",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": true
                              }
                            ]
                          },
                          {
                            "key": "indexation",
                            "errors": [
                              {
                                "key": "many_canonical",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "use_flash",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "use_iframe",
                                "priority": "low",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "less_words",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "wrong_canonical",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hidden_no_index",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hidden_robots_txt",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "offsite_canonical",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "relative_canonical",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "redirects",
                            "errors": [
                              {
                                "key": "redirects",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type5",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "links",
                            "errors": [
                              {
                                "key": "many_get_params",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "long_url",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "many_external_links",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "miss_favicon",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": true
                              },
                              {
                                "key": "external_link_without_no_follow_exist",
                                "priority": "information",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "internal_links_no_follow_exist",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "https",
                            "errors": [
                              {
                                "key": "https_check_domain_in_cert",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_hsts",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_cert_chain",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_expired",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_tls",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_sslv3",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_self_signed",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_sitemap_with_http",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_mixed_content",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_link_to_http",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "https_non_secure_page",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "hreflang",
                            "errors": [
                              {
                                "key": "hreflang_wrong_value",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hreflang_usage",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hreflang_no_link",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hreflang_wrong_url",
                                "priority": "information",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "hreflang_broken_links",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "amp",
                            "errors": [
                              {
                                "key": "amp_usage",
                                "priority": "information",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "markup",
                            "errors": [
                              {
                                "key": "markup_schema_missing",
                                "priority": "low",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "markup_open_graph_missing",
                                "priority": "information",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "markup_twitter_card_missing",
                                "priority": "information",
                                "countAll": 1,
                                "countNew": 1,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "markup_json_ld_missing",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "pagespeed_desktop",
                            "errors": [
                              {
                                "key": "MinimizeRenderBlockingResources",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "LeverageBrowserCaching",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "OptimizeImages",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "pagespeed_mobile",
                            "errors": [
                              {
                                "key": "MinimizeRenderBlockingResources",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "LeverageBrowserCaching",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "OptimizeImages",
                                "priority": "medium",
                                "countAll": 1,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type0",
                                "hasAdditionRows": false
                              }
                            ]
                          }
                        ],
                        "report": {
                          "id": 74809,
                          "auditDate": "2025-01-10 20:48:49",
                          "status": 4,
                          "sdo": 88,
                          "high": 0,
                          "medium": 6,
                          "low": 2,
                          "information": 4,
                          "viruses": 0,
                          "progress": 100
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.serpstat.com/v4",
            "description": "Default server"
          }
        ],
        "x-internal": true
      }
    },
    "/#AuditOnePage.getAudit": {
      "post": {
        "tags": [
          "AuditOnePage"
        ],
        "summary": "getAudit",
        "description": "Method `AuditOnePage.getAudit` gets results(found issues) of finished audit divided by categories.\n\n> **Credits**: This method doesn't spent API credits.",
        "operationId": "post-#AuditOnePage.getAudit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/requestId"
                  },
                  "method": {
                    "type": "string",
                    "description": "Should be exact `AuditOnePage.getAudit`",
                    "example": "AuditOnePage.getAudit"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "reportId": {
                        "$ref": "#/components/schemas/reportId"
                      },
                      "compareReportId": {
                        "type": "integer",
                        "description": "`id` of your another report from your project to compare."
                      }
                    },
                    "required": [
                      "reportId"
                    ]
                  }
                },
                "required": [
                  "id",
                  "method",
                  "params"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": 1,
                    "method": "auditOnePage.getAudit",
                    "params": {
                      "reportId": 26,
                      "compareReportId": 28
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "id": "123",
                    "method": "AuditOnePage.getAudit",
                    "params": {
                      "reportId": 74806
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/requestId"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "pageId": {
                                "$ref": "#/components/schemas/pageId"
                              },
                              "url": {
                                "type": "string",
                                "description": "Page url to scan"
                              },
                              "status": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string",
                                "description": "Project name"
                              },
                              "settings": {
                                "$ref": "#/components/schemas/settings"
                              }
                            }
                          }
                        },
                        "categories": {
                          "$ref": "#/components/schemas/categoriesPage"
                        },
                        "report": {
                          "$ref": "#/components/schemas/reportInfo"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "id": "123",
                      "result": {
                        "data": [
                          {
                            "pageId": 52474,
                            "url": "https://serpstat.com/",
                            "name": "Example one page audit",
                            "status": "1",
                            "settings": {
                              "userAgent": "1",
                              "httpAuthLogin": "string",
                              "httpAuthPassword": "string"
                            }
                          }
                        ],
                        "categories": [
                          {
                            "key": "pages_status",
                            "errors": [
                              {
                                "key": "errors_400",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "errors_500",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "meta_tags",
                            "errors": [
                              {
                                "key": "no_desc",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "no_title",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "tiny_desc",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "long_title",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "tiny_title",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "many_title",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "meta_refresh",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "title_dup_h1",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "charset_missing",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "long_desc",
                                "priority": "information",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type3",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "headings",
                            "errors": [
                              {
                                "key": "h1_missing",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "many_h1",
                                "priority": "low",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "content",
                            "errors": [
                              {
                                "key": "large_page_size",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "body_text_missing",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "dummy_text",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              }
                            ]
                          },
                          {
                            "key": "multimedia",
                            "errors": [
                              {
                                "key": "broken_image_url",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": true
                              },
                              {
                                "key": "large_image_size",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": true
                              },
                              {
                                "key": "image_no_alt",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type4",
                                "hasAdditionRows": true
                              }
                            ]
                          },
                          {
                            "key": "indexation",
                            "errors": [
                              {
                                "key": "many_canonical",
                                "priority": "high",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type2",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "use_flash",
                                "priority": "medium",
                                "countAll": 0,
                                "countNew": 0,
                                "countFixed": 0,
                                "viewType": "type1",
                                "hasAdditionRows": false
                              },
                              {
                                "key": "use_iframe",
[...]
